N8N WORKFLOW COPY-test-2/ 2_2_Initiate_Offer_Letter_E-Signing.json
{
  "createdAt": "2025-11-20T09:49:28.605Z",
  "updatedAt": "2025-12-18T06:11:30.000Z",
  "id": "Rf4hmAJ64k2MJkxk",
  "name": "2.2.Initiate Offer Letter E-Signing",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "680b7a60-bab1-44c4-adf4-570146103bc0",
              "leftValue": "={{ $('Check File Exists1').first() }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        288
      ],
      "id": "fbbd0390-d682-44bb-afbb-a553c1173de5",
      "name": "Offer Letter Exists?"
    },
    {
      "parameters": {
        "toRecipients": "=vetrivel.ramesh@rencata.com",
        "subject": "Offer Letter Not Found - Technical Issue",
        "bodyContent": "Dear Team,\nWe could not find the generated offer letter for this candidate.\nIt seems there is a technical issue in offer generation. Please check and regenerate.\n\nThank you,\nTeam Agentic AI",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1168,
        464
      ],
      "id": "27461ec4-6f34-4b91-b3d7-6f4e2ce84ea7",
      "name": "Send Error Mail",
      "webhookId": "5c1c4d2f-4fef-44ec-b14e-9f251dea260c",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "MicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "candidate_id",
            "first_name",
            "offer_letter_file_name",
            "last_name",
            "personal_email",
            "mobile_number"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        496,
        368
      ],
      "id": "d5495b6c-fee0-4d5b-a341-e03c19b097ca",
      "name": "Get Candidate",
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.offer_letter_file_name }}",
        "options": {
          "fileExtension": "pdf",
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        368
      ],
      "id": "b7ac0927-d5f8-44a9-9873-8b0e537318f1",
      "name": "Check File Exists1",
      "alwaysOutputData": true,
      "continueOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "toRecipients": "=vetrivel.ramesh@rencata.com",
        "subject": "= {{ $('Get Candidate').item.json.first_name }}  {{ $('Get Candidate').item.json.last_name }}'s Offer letter for E-signing",
        "bodyContent": "=Dear President ,\nPlease find attached  offer letter for {{ $('Get Candidate').item.json.first_name }}  {{ $('Get Candidate').item.json.last_name }} for your review and esigning.\nOnce signed, kindly return signed copy to this email address for offerreleased candidate.\n\nThank you,\nTeam Agentic AI ",
        "additionalFields": {
          "attachments": {
            "attachments": [
              {
                "binaryPropertyName": "data"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1184,
        144
      ],
      "id": "78e7f7f9-8cec-418b-b01a-d54e245032a4",
      "name": "Send Offer Letter1",
      "webhookId": "31d06fda-fa67-4c88-aa5e-fcc25249b178",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "MicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "content": "HERE WE WILL RECEIVE THE OUTPUT OF PREPARATION OFFER LETTER NODE WHICH CONSIST OF ID AND FILE NAME [WORKFLOW](https://192.168.50.120:5670/workflow/CRO4dtFHqC5QYDFh)",
        "height": 320,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        224,
        208
      ],
      "id": "b63d4e26-5d47-4d83-91bc-9690903eac58",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "WE WILL GET ALL THE DETAILS OF CANDIDATES OF USER FROM DATABASE USING ID",
        "height": 304,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        224
      ],
      "id": "ef0dd461-eebe-4af9-9b0a-8583a2b0a272",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "TO CHECK IF THE OFFER LETTER EXISTS",
        "height": 304,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        688,
        224
      ],
      "id": "d7a93511-6a60-4d13-abac-20423611a12c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "TO CHECK IF OFFER LETTER FILE IS NOT EMPTY",
        "height": 224,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        896,
        224
      ],
      "id": "c67c6f56-2205-4d3c-90d9-25f4af3e1c25",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "HERE OFFER LETTER WILL SEND TO AUTHORITY  FOR ESIGNING",
        "height": 256,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        48
      ],
      "id": "ad6268e0-ec92-4fd2-b414-23bc463263ad",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "IF OFFER LETTER NOT PRESENT OR EMPTY IT  WIL  SEND ERROR EMAIL TO HR",
        "height": 240
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        384
      ],
      "id": "d2e6b51d-da39-4e5e-af1b-5d02777ef453",
      "name": "Sticky Note5"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offer Letter Exists?": {
      "main": [
        [
          {
            "node": "Send Offer Letter1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Candidate": {
      "main": [
        [
          {
            "node": "Check File Exists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check File Exists1": {
      "main": [
        [
          {
            "node": "Offer Letter Exists?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "id": 1189,
          "candidate_id": "CA1188",
          "fixed_component": "12000.00",
          "variable_component": "3000.00",
          "basic_salary": "4800.00",
          "hra": "1920.00",
          "other_allowances": "0.00",
          "pf_amount": "960.00",
          "esi_eligible": false,
          "esi_amount": "0.00",
          "gross_salary": "12000.00",
          "net_salary": "0.00",
          "created_at": "2025-07-11T10:30:00.000Z",
          "gratuity": "0.00",
          "flexi_benefits": "-4320.00",
          "total_annual_performance_incentive": "0.00",
          "pf_company_contribution": "0.00",
          "annual_ctc": "15000.00"
        }
      }
    ]
  },
  "versionId": "69e60ad5-4ebc-44b9-8580-a0781627a494",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-20T09:49:28.608Z",
      "updatedAt": "2025-11-20T09:49:28.608Z",
      "role": "workflow:owner",
      "workflowId": "Rf4hmAJ64k2MJkxk",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-24T03:37:23.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1766038241283
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}