N8N WORKFLOW COPY-test-2/ n8n_filetask_backup_txt.json
{
  "createdAt": "2025-12-03T10:20:37.558Z",
  "updatedAt": "2025-12-03T11:57:26.000Z",
  "id": "wwMqhBBzDDXN42QB",
  "name": "n8n_filetask_backup.txt",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        256
      ],
      "id": "5e5bb81c-9dbb-4855-9d42-dda561a53dc8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/data/images/**/*.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -272,
        -176
      ],
      "id": "7aba040c-8a3b-4778-9586-1e9d1895b21e",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        176,
        -176
      ],
      "id": "1c80175f-4ac5-498e-9d8a-4decd44a3f8f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# `items` is the list of incoming items in Python mode\nfile_names = [item[\"json\"][\"fileName\"] for item in items]\n\n# Write to the console so you can see it in the execution log\nprint(file_names)\n\n# Return the result if you want it in the workflow\nreturn [{\n    \"json\": {\n        \"fileNames\": file_names\n    }\n}]\n"
      },
      "id": "9584d1d2-2c1a-4c76-81ad-0afc45fc6124",
      "name": "Extract Workflow Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -176
      ]
    },
    {
      "parameters": {
        "command": "=tesseract /home/node/data/images/page-01.png /home/node/data/images/page-02"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -464,
        64
      ],
      "id": "65d172a9-9edf-4fe2-823c-0ed4c2cac5b9",
      "name": "OCR1"
    },
    {
      "parameters": {
        "command": "pdftoppm -png /home/node/data/merged_bills.pdf /home/node/data/images/page"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -448,
        -176
      ],
      "id": "bc06219f-c00d-450a-9afc-2db6e606c176",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/data/rawtext/**/*.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -256,
        112
      ],
      "id": "02f07364-7ab2-4c92-a63c-377e72fa834c",
      "name": "Read/Write Files from Disk3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.raw_text }}",
        "options": {
          "systemMessage": "Instruction:\n\nDon't change or modify any text content.\n\nOnly mask important or personal details like bank account numbers, mobile numbers, etc.\n\nMask the sensitive part using xxxxx, but keep the first and last two digits visible.\n\nExample:\n\n900050005 → 90xxxxx05\n\n123456789012 → 12xxxxx12\n\nApply this masking only where necessary (e.g., mobile numbers, bank accounts, card numbers)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -496,
        368
      ],
      "id": "cefd7a3a-ad82-4ce8-8cf5-25be8cad90de",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -496,
        544
      ],
      "id": "99aa7718-8aa7-4c98-9d71-6ba439ae27bd",
      "name": "Ollama Chat Model"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        416,
        544
      ],
      "id": "1725a690-1f34-495b-9c68-bf58816b4474",
      "name": "When chat message received",
      "webhookId": "2186c9ee-e19e-45aa-b492-ee6eb3045767"
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -112,
        576
      ],
      "id": "ad03cab5-b163-4bcb-b0e0-35e3459192b5",
      "name": "Ollama Chat Model1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Raw text:-\n{{ $json.output }}\n\nThe above text is extracted from a merged bill file. Categorize the content into one of the following categories:\n\nCategories:\n - mobile_bill  \n - travel_bill  \n - broadband_bill  \n\n**Important:**  \nBefore processing, ensure any sensitive information (e.g., phone numbers, account numbers, personal addresses, or ID numbers) is masked or anonymized. Use generic placeholders like [MASKED_PHONE], [MASKED_ACCOUNT], etc.\n\nResponse format:\n{\n  \"category\": \"<value>\"\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -112,
        368
      ],
      "id": "d4b90405-3f15-431c-98c4-d36a17db40d2",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const parsedOutput = JSON.parse(item.json.output);\n  return {\n    json: {\n      category: parsedOutput.category\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        368
      ],
      "id": "fe42ee7c-2f71-4605-aff6-b16c1fe2cdae",
      "name": "Code"
    },
    {
      "parameters": {
        "functionCode": "return [\n  {\n    json: {\n      fileName: $json.name,\n      raw_text: $json.data\n    }\n  }\n];"
      },
      "id": "9ba39f37-8933-4715-8f3a-05066862662d",
      "name": "Prepare raw_text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        352,
        112
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        176,
        112
      ],
      "id": "2d55f48d-6c4f-4128-892c-9bc8a20917c5",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -48,
        112
      ],
      "id": "0d1e48e9-9fdb-4d42-a52e-2ab3f20bf854",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "command": "=mv \"/home/node/data/images/{{ $json.chatInput.replace(/\\.[^/.]+$/, '') }}.png\"  \"/home/node/data/mobile_bill/\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        480,
        368
      ],
      "id": "725a1009-f191-41c5-8d22-75154128394a",
      "name": "Execute Command1"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        [
          {
            "node": "Extract Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "OCR1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Workflow Data": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare raw_text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Prepare raw_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "07e47a30-e238-4727-9b3d-e23d514760d6",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-03T10:20:37.561Z",
      "updatedAt": "2025-12-03T10:20:37.561Z",
      "role": "workflow:owner",
      "workflowId": "wwMqhBBzDDXN42QB",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-24T03:37:23.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1766038241283
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}