N8N WORKFLOW COPY-test-2/ relocation_required_check.json
{
  "createdAt": "2025-12-08T06:58:02.403Z",
  "updatedAt": "2025-12-15T07:22:42.000Z",
  "id": "rUF2HFDb0u4SUgnI",
  "name": "relocation_required_check",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE onboarding.candidates\nSET templates = jsonb_set(templates::jsonb, '{relocation_required}', 'true'::jsonb, false)::json,\n    updated_at = NOW()\nWHERE id = {{ $('data').item.json.id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        208
      ],
      "id": "f1406588-7c49-4eca-9bda-2bf29d17e60b",
      "name": "update relocation true",
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -928,
        112
      ],
      "id": "37a194a2-aa9a-4e92-8236-1c9a181fed27",
      "name": "data",
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.opencagedata.com/geocode/v1/json?q={{ $json.currentlocation }}&key=383701131ee64715a3dae842cce65979",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -704,
        0
      ],
      "id": "b5bf48b1-a70a-4608-b607-0809dc88b46a",
      "name": "currentLocation"
    },
    {
      "parameters": {
        "url": "=https://api.opencagedata.com/geocode/v1/json?q={{ $json.offeredlocation }}&key=383701131ee64715a3dae842cce65979\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -704,
        208
      ],
      "id": "6889659d-e7a2-41bc-b3ec-7c546aa101c2",
      "name": "offeredLocation",
      "retryOnFail": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -272,
        112
      ],
      "id": "2bc7b92f-11a1-42ee-a771-b4060f1212c7",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e8429c7f-e000-452e-a92d-58703874c283",
              "leftValue": "={{ $json.distanceKm }}",
              "rightValue": 20,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        112
      ],
      "id": "c9d88b30-4e48-4867-b9b5-824c2e26a404",
      "name": "Check Distance"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      distanceKm: (() => {\n        const toRad = deg => deg * Math.PI / 180;\n        const R = 6371;\n\n        const lat1 = parseFloat($json.lat1);\n        const lon1 = parseFloat($json.lon1);\n        const lat2 = parseFloat($json.lat2);\n        const lon2 = parseFloat($json.lon2);\n\n        const dLat = toRad(lat2 - lat1);\n        const dLon = toRad(lon2 - lon1);\n\n        const a = Math.sin(dLat / 2) ** 2 +\n                  Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) *\n                  Math.sin(dLon / 2) ** 2;\n        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n\n        return Math.round(R * c);\n      })()\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        112
      ],
      "id": "57d018c5-41d9-4189-b96f-1dc68e574631",
      "name": "distanceKm"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33ba2419-4de0-417a-b65f-920cfbebb214",
              "name": "lat1",
              "value": "={{ $json.results[0].geometry.lat }}",
              "type": "string"
            },
            {
              "id": "7501a201-a601-4b2e-b19e-92ae23cf8879",
              "name": "lon1",
              "value": "={{ $json.results[0].geometry.lng }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        0
      ],
      "id": "997c359e-5bd5-4267-bdee-adcd64977013",
      "name": "Current Coordinates"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "33ba2419-4de0-417a-b65f-920cfbebb214",
              "name": "lat2",
              "value": "={{ $json.results[0].geometry.lat }}",
              "type": "string"
            },
            {
              "id": "7501a201-a601-4b2e-b19e-92ae23cf8879",
              "name": "lon2",
              "value": "={{ $json.results[0].geometry.lng }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        208
      ],
      "id": "fb1c9c9c-f4bc-4bde-b163-bb19adc301ee",
      "name": "Offered Coordinates"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE onboarding.candidates\nSET templates = jsonb_set(templates::jsonb, '{relocation_required}', 'true'::jsonb, false)::json,\n    updated_at = NOW()\nWHERE id = {{ $('data').item.json.id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        0
      ],
      "id": "c679e6ae-bf5b-459c-93d9-bf6ba78427ba",
      "name": "update relocation_required",
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('data').item.json.id }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "templates"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        0
      ],
      "id": "1a0e1638-02f7-47ed-bd14-c988872a09c5",
      "name": "relocation_required",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a0f284e-b26d-4988-a970-bfdf537aa714",
              "name": "distance",
              "value": "={{ $json.distanceKm }}",
              "type": "string"
            },
            {
              "id": "1d8f0ee6-e665-44b0-829e-df021a011fd9",
              "name": "relocation",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        208
      ],
      "id": "4cfa64e1-00ef-404e-ab4f-08811ba5341b",
      "name": "relocation required"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46c3e158-638f-4038-aff6-58be9effa5ad",
              "name": "relocation",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        0
      ],
      "id": "95c7b68b-22c8-441b-ab7e-07fe68be080b",
      "name": "relocation not required"
    },
    {
      "parameters": {
        "path": "relocation_check",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1168,
        112
      ],
      "id": "9a6c39ee-006c-4aa8-a2aa-bd027fb3123b",
      "name": "data1",
      "webhookId": "f1efc9f9-fc97-400b-8233-9f768d0ca1ef"
    }
  ],
  "connections": {
    "data": {
      "main": [
        [
          {
            "node": "currentLocation",
            "type": "main",
            "index": 0
          },
          {
            "node": "offeredLocation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "currentLocation": {
      "main": [
        [
          {
            "node": "Current Coordinates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "offeredLocation": {
      "main": [
        [
          {
            "node": "Offered Coordinates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "distanceKm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Distance": {
      "main": [
        [
          {
            "node": "relocation not required",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "relocation required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "distanceKm": {
      "main": [
        [
          {
            "node": "Check Distance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Current Coordinates": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offered Coordinates": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "update relocation_required": {
      "main": [
        [
          {
            "node": "relocation_required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "relocation required": {
      "main": [
        [
          {
            "node": "update relocation true",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "relocation not required": {
      "main": [
        [
          {
            "node": "update relocation_required",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "data1": {
      "main": [
        [
          {
            "node": "data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "data1": [
      {
        "json": {
          "id": 1034
        }
      }
    ]
  },
  "versionId": "20844c29-53df-4c82-94ec-928a24057ae8",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-08T06:58:02.407Z",
      "updatedAt": "2025-12-08T06:58:02.407Z",
      "role": "workflow:owner",
      "workflowId": "rUF2HFDb0u4SUgnI",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-24T03:37:23.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1766038241283
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}