N8N WORKFLOW COPY-test-4/ 5_2_NegotiationResponseOrchestrationWorkflow.json
{
  "createdAt": "2025-12-05T05:22:08.295Z",
  "updatedAt": "2025-12-23T08:47:12.000Z",
  "id": "sqPKsXSx2iyp5tOP",
  "name": "5.2.NegotiationResponseOrchestrationWorkflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "toRecipients": "vetrivel.ramesh@rencata.com",
        "subject": "hr recommendation ",
        "bodyContent": "=<p>Dear President,</p>\n\n<p>The candidate <strong>{{ $('reading_candidate_Response').item.json.from.emailAddress.name }}</strong> has requested a negotiation after receiving the offer letter. Please find HR's review and recommendation below.</p>\n\n<p><strong>Candidate's Request:</strong></p>\n<blockquote style=\"border-left: 3px solid #ccc; padding-left: 10px; color: #555;\">\n  {{ $('reading_candidate_Response').item.json.body.content }}\n</blockquote>\n\n<p><strong>Candidate Information:</strong></p>\n<ul style=\"list-style: none; padding-left: 0;\">\n  <li><strong>Name:</strong> {{ $('reading_candidate_Response').item.json.from.emailAddress.name }}</li>\n  <li><strong>Email:</strong> {{ $('reading_candidate_Response').item.json.from.emailAddress.address }}</li>\n</ul>\n\n<p><strong>Possible Negotiation:</strong></p>\n<div style=\"background-color: #f9f9f9; padding: 15px; border-left: 3px solid #007bff; margin: 10px 0;\">\n  {{ $json.data.text }}\n</div>\n\n<p>We kindly request your decision on this negotiation. Click the button below to enter your response:</p>\n\n<div style=\"text-align: center; margin: 20px 0;\">\n  <a href=\"https://192.168.50.120:5670/form/response?Candidate_Name={{ encodeURIComponent($('reading_candidate_Response').item.json.from.emailAddress.name) }}&Candidate_personal_mail={{ encodeURIComponent($('reading_candidate_Response').item.json.from.emailAddress.address) }}&Possible_Negotiation={{ encodeURIComponent($json.data.text) }}&Candidate_Request={{ encodeURIComponent($('plain_text').item.json.plainText) }}\"\n     style=\"display:inline-block;padding:12px 30px;background-color:#007bff;color:white;text-decoration:none;border-radius:5px;font-weight:bold;\">\n     Enter Your Response\n  </a>\n</div>\n\n<p>Regards,<br>HR Team</p>\n\n<div style=\"text-align: center; margin-top: 30px;\">\n  <img src=\"https://media.licdn.com/dms/image/v2/C561BAQFcaBKo0RUV_g/company-background_10000/company-background_10000/0/1584361725954/rencata_cover?e=2147483647&v=beta&t=Om7LLN3Ndu_hg9G5SL9WE6vURmRBSLnv0pHX4XhPPnc\" \n       alt=\"Rencata Logo\" \n       style=\"max-width: 150px; height: auto;\">\n</div>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        528,
        -128
      ],
      "id": "7426595f-4aeb-43c2-974d-5fe2565355f1",
      "name": "recommendation mail",
      "webhookId": "05cc0b6d-fc81-4c58-8195-5e8b1d5dd3c9",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "MicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        288,
        -128
      ],
      "id": "cdfce548-c9dd-4c3b-8241-8560c28d19fc",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1216,
        -128
      ],
      "id": "80a63d22-426e-4e10-8355-6e11449453ba",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.body.content|| '';\n\n// Simple regex to remove HTML tags\nconst cleanedText = html\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')  // remove style blocks\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '') // remove script blocks\n  .replace(/<\\/?[^>]+(>|$)/g, '') // remove HTML tags\n  .replace(/\\s+/g, ' ') // collapse extra whitespace\n  .trim();\n\nreturn [{\n  json: {\n    plainText: cleanedText\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -224
      ],
      "id": "ccb1b36d-0c86-46b7-827a-e979cb99f6ba",
      "name": "plain_text"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "output": "fields",
        "fields": [
          "body",
          "from",
          "subject"
        ],
        "filtersUI": {
          "values": {
            "filters": {
              "readStatus": "unread",
              "receivedAfter": "={{ $now.minus({ hours: 12}).toISO() }}",
              "sender": "={{ $json.personal_email }}"
            }
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -768,
        -128
      ],
      "id": "656e89ef-1359-4df9-8262-1503a1ffedc9",
      "name": "reading_candidate_Response",
      "webhookId": "53628309-30d5-4045-8b3b-7676c128b9db",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "MicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "toRecipients": "vetrivel.ramesh@rencata.com",
        "subject": "Approval required",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Offer Negotiation Request</title>\n</head>\n<body style=\"margin: 0; padding: 0; font-family: 'Segoe UI', 'Helvetica Neue', Arial, sans-serif; background-color: #ffffff;\">\n    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"padding: 20px 10px;\">\n        <tr>\n            <td align=\"center\">\n                <table width=\"100%\" style=\"max-width: 650px;\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border: 1px solid #e0e0e0; border-radius: 8px;\">\n                    \n                    <!-- Header -->\n                    <tr>\n                        <td style=\"padding: 30px 25px 20px 25px; border-bottom: 2px solid #000000;\">\n                            <h1 style=\"margin: 0; color: #000000; font-size: 24px; font-weight: 700; letter-spacing: -0.5px;\">\n                                Offer Negotiation Request\n                            </h1>\n                        </td>\n                    </tr>\n                    \n                    <!-- Content -->\n                    <tr>\n                        <td style=\"padding: 30px 25px;\">\n                            <p style=\"margin: 0 0 30px 0; color: #000000; font-size: 16px; line-height: 1.6;\">\n                                Dear HR Team,\n                            </p>\n                            \n                            <p style=\"margin: 0 0 30px 0; color: #000000; font-size: 16px; line-height: 1.6;\">\n                                The candidate <strong style=\"font-weight: 600;\">{{ $json.from.emailAddress.name }}</strong> \n                                ({{ $json.from.emailAddress.address }}) has responded to the offer letter with a negotiation request.\n                            </p>\n                            \n                            <p style=\"margin: 0 0 15px 0; color: #000000; font-size: 14px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px;\">\n                                Candidate's Response\n                            </p>\n                            \n                            <div style=\"background-color: #f5f5f5; border-left: 4px solid #000000; padding: 25px; margin: 0 0 30px 0;\">\n                                <p style=\"margin: 0; color: #000000; font-size: 15px; line-height: 1.8; white-space: pre-wrap; font-style: italic;\">{{ $json.body.content }}</p>\n                            </div>\n                            \n                            <div style=\"background-color: #f9f9f9; border: 2px solid #000000; padding: 20px; margin: 0 0 30px 0;\">\n                                <p style=\"margin: 0 0 8px 0; color: #000000; font-size: 13px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.5px;\">\n                                    ⚠️ Action Required\n                                </p>\n                                <p style=\"margin: 0; color: #000000; font-size: 15px; line-height: 1.6;\">\n                                    Please review this negotiation request and provide your recommendation for further consideration.\n                                </p>\n                            </div>\n                        </td>\n                    </tr>\n                    \n                    <!-- Footer -->\n                    <tr>\n                        <td style=\"padding: 25px; background-color: #fafafa; border-top: 1px solid #e0e0e0; text-align: center;\">\n                            <img src=\"https://media.licdn.com/dms/image/v2/C561BAQFcaBKo0RUV_g/company-background_10000/company-background_10000/0/1584361725954/rencata_cover?e=2147483647&v=beta&t=Om7LLN3Ndu_hg9G5SL9WE6vURmRBSLnv0pHX4XhPPnc\" \n                                 alt=\"Rencata\" \n                                 style=\"width: 130px; height: auto; margin-bottom: 15px; display: block; margin-left: auto; margin-right: auto;\">\n                            <p style=\"margin: 0 0 5px 0; color: #666666; font-size: 14px;\">\n                                Best regards,\n                            </p>\n                            <p style=\"margin: 0; color: #000000; font-size: 15px; font-weight: 600;\">\n                                Rencata HR Automation System\n                            </p>\n                        </td>\n                    </tr>\n                    \n                    <tr>\n                        <td style=\"padding: 20px 25px; background-color: #000000; text-align: center;\">\n                            <p style=\"margin: 0; color: #ffffff; font-size: 12px; line-height: 1.5;\">\n                                This is an automated notification from your recruitment system.<br>\n                                Please do not reply to this email.\n                            </p>\n                        </td>\n                    </tr>\n                    \n                </table>\n            </td>\n        </tr>\n    </table>\n</body>\n</html>",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -480,
        32
      ],
      "id": "3a3d830d-84e0-47ac-bdab-95bb08c695a8",
      "name": "Send message and wait for response",
      "webhookId": "48fa825b-1900-4979-863e-51198ed59238",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "MicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT personal_email,id\nFROM onboarding.candidates\nWHERE \n  templates ->> 'offer_letter_negotiated' = 'true' \n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -992,
        -128
      ],
      "id": "e23ef6e8-3b74-430c-a0c2-6cfe7e47c307",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "content": "Fetches candidates with negotiated offer letters from the database",
        "height": 240,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        -208
      ],
      "id": "ecfa6b48-354a-475b-9538-79fcffe70844",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Retrieves the latest email from the candidate",
        "height": 240,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        -208
      ],
      "id": "35f42360-bd08-4eaf-911b-11ae09a5e1cb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Converts the candidate's email from HTML to plain text",
        "height": 240,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        -336
      ],
      "id": "cda63905-d64a-4a08-86a8-6afc69ea27fc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Sends the candidate's request to HR and waits for their input",
        "height": 240,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        -64
      ],
      "id": "64602b6e-42d4-4cf4-9edc-2c49773ddb40",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Combines HR response and candidate info for final recommendation",
        "height": 240,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -192,
        -224
      ],
      "id": "927fb258-8eb4-4ceb-a65e-2ec20c3275eb",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Sends the HR recommendation to the President for decision",
        "height": 240,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        64,
        -224
      ],
      "id": "68f4ee68-0d5f-44c0-8649-cd3c07dcfac4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Starts the workflow when triggered by before [work flow](https://192.168.50.120:5670/workflow/CwNnIz1yqyuiqbn2/)",
        "height": 240,
        "width": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1232,
        -208
      ],
      "id": "c48efdf5-c9af-445d-be23-2e6a3a78b8d2",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE onboarding.candidates\nSET templates = COALESCE(templates::jsonb, '{}'::jsonb)\n                || jsonb_build_object('hr_recommendation_send', true),\n    updated_at = NOW()\nWHERE id ={{ $('Postgres').item.json.id }} ;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        -128
      ],
      "id": "7825a009-a219-4e3d-80c7-ed374740a410",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "0CwtQcnj9v3qZLce",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Postgres').item.json.id }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "templates"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -272,
        64
      ],
      "id": "2ed40305-3d0a-46a2-ab49-b3f3c63bdf57",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "0CwtQcnj9v3qZLce",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c456e45f-42ce-4cec-ac9c-8c5f3a7c18d4",
              "leftValue": "={{ $json.templates.hr_recommendation_send }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "01f030e0-c5f2-4e9d-9849-fc2ab3ac00ea",
              "leftValue": "={{ $json.templates.hr_recommendation_send }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -64,
        64
      ],
      "id": "d5f21aea-0b2a-40d8-b546-685b68f01366",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>HR Response Received</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <style>\n    body {\n      font-family: \"Segoe UI\", Arial, sans-serif;\n      background-color: #eef2f7;\n      margin: 0;\n      padding: 0;\n      display: flex;\n      align-items: center;\n      justify-content: center;\n      height: 100vh;\n    }\n\n    .box {\n      text-align: center;\n      padding: 40px;\n      background-color: #ffffff;\n      border-radius: 12px;\n      box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);\n      max-width: 600px;\n    }\n\n    .icon {\n      font-size: 48px;\n      color: #1976d2;\n      margin-bottom: 20px;\n    }\n\n    h2 {\n      font-size: 28px;\n      color: #1976d2;\n      margin-bottom: 10px;\n    }\n\n    p {\n      font-size: 16px;\n      color: #333;\n      margin: 6px 0;\n    }\n\n    .note {\n      font-size: 14px;\n      color: #666;\n      margin-top: 15px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"box\">\n    <div class=\"icon\">✅</div>\n    <h2>HR Already Responded</h2>\n    <p>The HR team has already submitted their response for this request.</p>\n    <p>This link is no longer active and cannot be used again.</p>\n    <p class=\"note\">If you need any changes, please contact the recruitment team.</p>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        272,
        80
      ],
      "id": "08d3a4a8-f805-4d8b-a2db-cfedd71530af",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "recommendation mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "plain_text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reading_candidate_Response": {
      "main": [
        [
          {
            "node": "plain_text",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "reading_candidate_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recommendation mail": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "68634139-27ff-4ece-bab8-2b28ef4a131c",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-05T05:22:08.299Z",
      "updatedAt": "2025-12-05T05:22:08.299Z",
      "role": "workflow:owner",
      "workflowId": "sqPKsXSx2iyp5tOP",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-31T04:50:07.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766988407922
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-31",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}