N8N WORKFLOW COPY-test-4/ N8N_MAINTANCE_WORKFLOW.json
{
  "createdAt": "2025-12-12T05:16:37.217Z",
  "updatedAt": "2025-12-24T05:38:27.000Z",
  "id": "NL82x4NdLHt7SApE",
  "name": "N8N MAINTANCE WORKFLOW",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "id": "0a96ba9b-9e21-4ded-a797-3c4c16cc9508",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1104,
        -208
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "url": "https://192.168.50.120:5670/api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Get All Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -848,
        -208
      ],
      "id": "3d7ef95a-3952-4180-9f11-c45167c3ce62",
      "credentials": {
        "n8nApi": {
          "id": "lF0w43EAP5bIt32d",
          "name": "n8n account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nif (!response.data || !Array.isArray(response.data)) {\n  return { json: { error: 'No workflows found' } };\n}\nconst workflows = response.data.map(workflow => ({\n  json: {\n    id: workflow.id,\n    name: workflow.name,\n    createdAt: workflow.createdAt,\n    updatedAt: workflow.updatedAt,\n    active: workflow.active\n  }\n}));\nreturn workflows;"
      },
      "name": "Extract Workflow List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -208
      ],
      "id": "ff85bed9-93c4-4615-8237-fc61c9602461"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Loop Over Workflows",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -432,
        -208
      ],
      "id": "3d91a9d2-5515-45bd-ab04-a7414df73513"
    },
    {
      "parameters": {
        "url": "=https://192.168.50.120:5670/api/v1/workflows/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Get Full Workflow Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        -192
      ],
      "id": "a1db7b24-57a1-43f2-a216-f8a1edb38037",
      "credentials": {
        "n8nApi": {
          "id": "lF0w43EAP5bIt32d",
          "name": "n8n account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Code node to extract workflow JSON and remove array wrapper\n// Place this after \"Get Full Workflow Data\" node\nconst response = $input.item.json;\n\n// If response is an array, get the first item\n// If it's already an object, use it as-is\nlet workflow = Array.isArray(response) ? response[0] : response;\n\n// Generate clean filename\nconst timestamp = DateTime.now().toFormat('yyyy-MM-dd_HH-mm-ss');\nconst cleanName = workflow.name.replace(/[^a-zA-Z0-9-_]/g, '_');\nconst filename = `${cleanName}.json`;\n\n// Format as pretty JSON\nconst workflowJson = JSON.stringify(workflow, null, 2);\n\nreturn {\n  json: {\n    filename: filename,\n    content: workflowJson,\n    workflowName: workflow.name,\n    workflowId: workflow.id,\n    timestamp: timestamp,\n    commitMessage: `Backup: ${workflow.name} (${timestamp})`\n  }\n};"
      },
      "name": "Format for GitHub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -192
      ],
      "id": "3fea885f-a2b0-4cd6-997c-b8730805849d"
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_GITHUB_USERNAME"
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": "n8n-workflows-backup"
        },
        "title": "GF",
        "body": "HF",
        "labels": [],
        "assignees": []
      },
      "name": "Create/Update File in GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1600,
        -720
      ],
      "id": "0fd2fc87-4f12-4bfb-8705-62091d8b313d",
      "webhookId": "dc1a742e-f5d1-40c0-8ff3-11687b4a3e20",
      "credentials": {
        "githubApi": {
          "id": "0LXCRcpOhkLgnxBn",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.filename }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "name": "Filter Valid Workflows",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        1840,
        -368
      ],
      "id": "0be3cb4e-d37f-4901-ac0b-4cd5d9503557"
    },
    {
      "parameters": {
        "jsCode": "// Pass through the content to GitHub\nreturn {\n  json: {\n    content: $input.first().json.content\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        -192
      ],
      "id": "1faf0b8b-ef4b-40d9-a641-4e7b6bedd98f",
      "name": "Code1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://github.com/Ananthkarthickm-sys/TEST.git",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.content }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1824,
        -720
      ],
      "id": "f4227f0a-fec1-4016-bd55-1915b6f9a599",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Ananthkarthickm-sys",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "TEST",
          "mode": "list",
          "cachedResultName": "TEST",
          "cachedResultUrl": "https://github.com/Ananthkarthickm-sys/TEST"
        },
        "filePath": "=N8N WORKFLOW COPY-test-2/ {{ $('Format for GitHub').item.json.filename }}",
        "fileContent": "={{ $json.content }}",
        "commitMessage": "DONE"
      },
      "name": "Create/Update File in GitHub2",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1184,
        -80
      ],
      "id": "c5fb01f4-b706-43aa-9fc0-a2789beb45ce",
      "webhookId": "6156d93c-3104-47c0-84fb-c8b030291468",
      "credentials": {
        "githubApi": {
          "id": "0LXCRcpOhkLgnxBn",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "blob",
        "operation": "create",
        "container": {
          "__rl": true,
          "value": "backups",
          "mode": "list",
          "cachedResultName": "backups"
        },
        "blobCreate": "N8N",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.azureStorage",
      "typeVersion": 1,
      "position": [
        1824,
        -544
      ],
      "id": "3fce1ccd-74de-4b97-a517-cf57e66ac407",
      "name": "Create blob",
      "credentials": {
        "azureStorageOAuth2Api": {
          "id": "wkCauR87kgf8c1t9",
          "name": "AnanthKarthickAzureStorageAccount"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Extract Workflow List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Workflow List": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Workflows": {
      "main": [
        [],
        [
          {
            "node": "Get Full Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Workflow Data": {
      "main": [
        [
          {
            "node": "Format for GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for GitHub": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update File in GitHub": {
      "main": [
        []
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Create/Update File in GitHub2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update File in GitHub2": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create blob": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2431e300-44e6-40bc-8177-2f5724d501e3",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-12-12T05:16:37.221Z",
      "updatedAt": "2025-12-12T05:16:37.221Z",
      "role": "workflow:owner",
      "workflowId": "NL82x4NdLHt7SApE",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-31T04:50:07.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1766988407922
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-31",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}