N8N WORKFLOW COPY/ Access_card_END.json
{
  "createdAt": "2025-12-11T10:43:06.427Z",
  "updatedAt": "2025-12-15T07:22:17.000Z",
  "id": "RjwcNbU4w11hBFW7",
  "name": "Access card END",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Access-card-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "238a9da9-65be-418b-a020-6d4de5eb3fae",
      "name": "Webhook - Receive Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "access-card-post"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE onboarding.candidates\nSET access_card_no = '{{ $json.body.access_card_number }}',\n    updated_at = NOW()\nWHERE id = {{ $json.body.id }};",
        "options": {}
      },
      "id": "4b7609b1-851e-417d-aebc-98b8f2bcfcdc",
      "name": "Update Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Access card assigned successfully\" } }}",
        "options": {}
      },
      "id": "524ba41a-2de4-4044-9f1a-8df4b066d9bc",
      "name": "Respond to Webhook - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    }
  ],
  "connections": {
    "Webhook - Receive Form": {
      "main": [
        [
          {
            "node": "Update Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Database": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "bc13ff8f-2721-4692-b09a-b9666f33f162",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-12-11T10:43:06.429Z",
      "updatedAt": "2025-12-11T10:43:06.429Z",
      "role": "workflow:owner",
      "workflowId": "RjwcNbU4w11hBFW7",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-15T04:41:56.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1765342775722
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}