N8N WORKFLOWS/ 2_0_Preperation_Offer_Letter.json
{
  "createdAt": "2025-11-20T09:39:14.798Z",
  "updatedAt": "2025-12-04T05:41:35.000Z",
  "id": "kfI0FkHVcHwPfFJE",
  "name": "2.0.Preperation_Offer_Letter",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "data",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -400,
        192
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "cbp2q7EHdn0nrxvz",
          "mode": "list",
          "cachedResultName": "My Sub-Workflow 6"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1312,
        288
      ],
      "id": "6a047f12-ac5a-4725-93eb-666544610818",
      "name": "Send to Candidate"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Rf4hmAJ64k2MJkxk",
          "mode": "list",
          "cachedResultName": "2.2.Initiate Offer Letter E-Signing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        480,
        240
      ],
      "id": "4bf3682f-9559-4096-8ba2-1fa3515e0851",
      "name": "Send for eSigning",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CRO4dtFHqC5QYDFh",
          "mode": "list",
          "cachedResultName": "2.1.InitiateOfferLetterGenerate"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        384,
        400
      ],
      "id": "9929aaeb-8eca-4eb0-92bd-a446947710ea",
      "name": "Generate offer",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "task4_check",
              "leftValue": "={{ $json.templates.offer_letter_esigned }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "task4_check2",
              "leftValue": "={{ $json.templates.offer_letter_sent_to_candidate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            },
            {
              "id": "fd11d009-ff1d-4d92-89ed-f0182b24c4e2",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        336
      ],
      "id": "d1637405-f6b8-4b04-a01d-95c65f62c201",
      "name": "Need Send to Candidate?"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "=1095"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "id",
            "candidate_id",
            "first_name",
            "last_name",
            "templates"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        320
      ],
      "id": "9897ed99-2ae4-42c6-bb08-60f74284a6da",
      "name": "Refresh for Task4",
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "task3_check",
              "leftValue": "={{ $json.templates.offer_letter_sent_for_esigning }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "task3_check2",
              "leftValue": "={{ $json.templates.offer_letter_esigned }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            },
            {
              "id": "2c7d9547-010e-4ca4-9582-1316bd36a481",
              "leftValue": "={{ $json.templates.offer_letter_sent_for_esigning }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        32
      ],
      "id": "09da7a0b-e34f-4166-b0fa-21e66a71372e",
      "name": "Need Validate eSigned?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "36c5bc89-3841-42a8-9a4b-3b643cbe5891",
              "leftValue": "={{ $json.templates.process_paused }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        16,
        192
      ],
      "id": "6dbdce6b-bd00-4f0d-aa5e-5cf9b7d37229",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d17dd96c-ef83-46a7-87a1-61e1019a053a",
              "leftValue": "={{ $json.offer_letter_file_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        304
      ],
      "id": "2b9d79d4-381e-495c-98f1-b57b4ef6852a",
      "name": "If1"
    },
    {
      "parameters": {
        "toRecipients": "Surendar.Rajendiran@rencata.com",
        "subject": "=Process Paused - {{ $json.first_name }} {{ $json.last_name }} ({{ $json.candidate_id }})",
        "bodyContent": "=<p>Process paused for candidate {{ $json.first_name }} {{ $json.last_name }} ({{ $json.candidate_id }}). Please review.</p>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        176,
        96
      ],
      "id": "bc5f40c6-c992-4ea8-81ac-1257919a7871",
      "name": "Send Pause Email",
      "webhookId": "6166ab8c-a70f-4cb3-b83b-2f8aa78a7bcb",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        192
      ],
      "id": "aa21b724-2bd4-4a10-a895-8405c98cd65a",
      "name": "Tasks2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NcfYJjUw84wwBK7z",
          "mode": "list",
          "cachedResultName": "3.1.Sending mail to Hr for verification"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        768,
        112
      ],
      "id": "b700dae0-3e3d-43fd-9c3c-76c08f59d29d",
      "name": "Validate eSigned"
    }
  ],
  "connections": {
    "data": {
      "main": [
        [
          {
            "node": "Tasks2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send for eSigning": {
      "main": [
        []
      ]
    },
    "Need Send to Candidate?": {
      "main": [
        [
          {
            "node": "Send to Candidate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh for Task4": {
      "main": [
        [
          {
            "node": "Need Send to Candidate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need Validate eSigned?": {
      "main": [
        [
          {
            "node": "Validate eSigned",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Pause Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send for eSigning",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate offer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tasks2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate offer": {
      "main": [
        [
          {
            "node": "Send for eSigning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate eSigned": {
      "main": [
        [
          {
            "node": "Refresh for Task4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ae351e43-73c0-4c03-a690-b2d8ab36164c",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-20T09:39:14.800Z",
      "updatedAt": "2025-11-20T09:39:14.800Z",
      "role": "workflow:owner",
      "workflowId": "kfI0FkHVcHwPfFJE",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-12T04:24:19.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1765342775722
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}