N8N WORKFLOWS/ Access_card_assigning.json
{
  "createdAt": "2025-12-11T10:33:23.822Z",
  "updatedAt": "2025-12-11T12:34:01.000Z",
  "id": "MLkZvZeQ1oPB1IdJ",
  "name": "Access card assigning",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "007b1c2e-5d23-489a-9168-4a1be45cb158",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "1167"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "a31e92ac-d144-474e-8a32-3540ad50b2ea",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "0CwtQcnj9v3qZLce",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "Ananthkarthick.m@rencata.com",
        "bodyContent": "=<p>Dear Admin,</p>\n<p>The following candidate requires an access card setup:</p>\n<ul>\n    <li><strong>Name:</strong> {{ $json.first_name }} {{ $json.last_name }}</li>\n    <li><strong>Email:</strong> {{ $json.personal_email }}</li>\n    <li><strong>Position:</strong> {{ $json.position }}</li>\n</ul>\n<p>Please click the button below to assign an access card number:</p>\n<p>\n    <a href=\"https://192.168.50.120:5670/webhook-test/Access-card?id={{ $json.id }}&firstName={{ $json.first_name }}&lastName={{ $json.last_name }}&email={{ $json.personal_email }}&position={{ $json.position }}\" style=\"display: inline-block; background-color: #4A90E2; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; font-weight: bold;\">Set Access Card Number</a>\n</p>\n<p>Regards,<br>Agentic AI</p>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "e6dfa86b-47df-45b0-a1b4-1ccbb94cea61",
      "name": "Send a message",
      "webhookId": "5bf3063f-579c-4dcf-b6b6-602b38e56d84",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2f43d930-0b97-4054-81e5-5adb94e99483",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-11T10:33:23.828Z",
      "updatedAt": "2025-12-11T10:33:23.828Z",
      "role": "workflow:owner",
      "workflowId": "MLkZvZeQ1oPB1IdJ",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-12T04:24:19.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1765342775722
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}