N8N WORKFLOWS/ eml.json
{
  "createdAt": "2025-12-10T10:11:20.004Z",
  "updatedAt": "2025-12-10T12:30:18.000Z",
  "id": "yiMrvGIbZTy5LAhB",
  "name": "eml",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        -176
      ],
      "id": "40d92af0-c3f4-46f5-8de0-94efdb750155",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT personal_email\nFROM onboarding.candidates\nWHERE \n  templates ->> 'offer_letter_sent_to_candidate' = 'true' AND\n  templates ->> 'offer_accepted' = 'true' AND\n  templates ->> 'offer_declined' = 'false';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        -176
      ],
      "id": "b65d0f68-6722-4c93-9b8d-466b915b0456",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filtersUI": {
          "values": {
            "filters": {
              "hasAttachments": "={{ true }}",
              "readStatus": "unread",
              "receivedAfter": "={{ new Date(new Date($('Schedule Trigger').item.json.timestamp).getTime() - (10 * 60 * 60 * 4000)).toISOString() }}",
              "sender": "Ananthkarthick.m@rencata.com"
            }
          }
        },
        "options": {
          "attachmentsPrefix": "data",
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        48,
        -176
      ],
      "id": "56cc9b5d-05dd-4803-b740-6a5ada970f60",
      "name": "Get many messages",
      "webhookId": "b19ccd76-186d-4bad-a6d3-47ac5bbbc6a7",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/tmp/testeml",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        272,
        -176
      ],
      "id": "524c99a1-3a5f-4de7-8d06-8c5ce276ba42",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "command": "cat /tmp/test1 | node /home/node/offertemp/scripts/PythonScripts/12_09_2025_parseEmail.js | tee /tmp/output.txt"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        496,
        -176
      ],
      "id": "3ed464e4-9a1d-4e63-bdee-5e9bb509be4a",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "content": "cat /tmp/test1 | node /home/node/offertemp/scripts/PythonScripts/12_09_2025_parseEmail.js "
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -480
      ],
      "id": "d6386a7f-d746-40a1-9451-992cbe6d7bd0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "",
        "height": 240,
        "width": 1296
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -552,
        -256
      ],
      "id": "bd0fb22a-070f-4194-8f85-3df5663c6990",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "cat /tmp/test1 | node /home/node/offertemp/scripts/PythonScripts/12_09_2025_parseEmail.js | tee /tmp/output.txt"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        304,
        -480
      ],
      "id": "6946d833-6030-40c5-91dd-d38cc6592c69",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "4ccb51b5-ee85-4412-9797-fcddd88b87c1",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-10T10:11:20.010Z",
      "updatedAt": "2025-12-10T10:11:20.010Z",
      "role": "workflow:owner",
      "workflowId": "yiMrvGIbZTy5LAhB",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-12T04:24:19.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1765342775722
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}