N8N WORKFLOWS/ hr_acceptance.json
{
  "createdAt": "2025-12-11T09:56:19.922Z",
  "updatedAt": "2025-12-11T10:12:13.000Z",
  "id": "AGzseSUdZloh7oJp",
  "name": "hr acceptance",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "fd8765e9-b854-4309-8be8-5703550fdd73",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "toRecipients": "Ananthkarthick.m@Rencata.com",
        "subject": "=Access Card Setup request for  {{ $json.first_name }}{{ $json.last_name }}",
        "bodyContent": "=<p>Dear Admin,</p>\n\n<p>The following candidate requires an access card setup:</p>\n\n<ul>\n    <li><strong>Name:</strong> {{ $json.first_name }}{{ $json.last_name }}</li>\n    <li><strong>Email:</strong> {{ $json.personal_email }}</li>\n    <li><strong>Position:</strong>{{ $json.position }}</li>\n</ul>\n\n<p>Please click the button below to assign an access card number:</p>\n\n<p>\n    <a href=\"https://192.168.50.120:5670/webhook/Access-card\" style=\"background-color: #4A90E2; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; font-weight: bold;\">Set Access Card Number</a>\n</p>\n\n<p>Regards,<br>Agentic AI</p> ",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "9552fd63-016e-443c-8ded-69f43ef79059",
      "name": "Send a message",
      "webhookId": "8f66b2e0-367a-47ff-ba7e-e33dfaa26b1c",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "1167"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "d39170e4-5506-446b-a3fc-d8abb9ac604d",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "0CwtQcnj9v3qZLce",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4fdd3312-8929-4582-b482-6222aceae267",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-11T09:56:19.925Z",
      "updatedAt": "2025-12-11T09:56:19.925Z",
      "role": "workflow:owner",
      "workflowId": "AGzseSUdZloh7oJp",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-12T04:24:19.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1765342775722
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}