N8N WORKFLOWS/ My_workflow_44.json
{
  "createdAt": "2025-12-12T04:30:50.124Z",
  "updatedAt": "2025-12-12T04:57:02.000Z",
  "id": "ZmHdWS8ZCdLhgjx8",
  "name": "My workflow 44",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "74effffb-7bd5-465a-903d-cc2d43486310",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1136,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "requestOptions": {}
      },
      "id": "e5eb87a1-0762-4a99-a1ef-dd47563c9816",
      "name": "n8n",
      "type": "n8n-nodes-base.n8n",
      "position": [
        -976,
        144
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "430129c3-f5e2-47f0-879f-fae191e12c1a",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        -784,
        144
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id",
              "value": "= 'Workflow Backups ' + $now.format('DD-MM-YYYY_HH-mm-ss')"
            }
          ]
        },
        "options": {}
      },
      "id": "cd3544c5-caad-4fea-82f9-adb71128bb14",
      "name": "create new folder",
      "type": "n8n-nodes-base.set",
      "position": [
        -1152,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "format": true,
          "fileName": "={{ $json.name + \".json\" }}"
        }
      },
      "id": "537cd126-bd5a-411c-855d-d76bad1a1e18",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        -560,
        240
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "2d9deb33-795d-4d0d-833c-e592e970db40",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1344,
        288
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "538fc29d-2693-4c62-9848-bdcaf8566909",
              "operator": {
                "type": "string",
                "operation": "notContains"
              },
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $node['create new folder'].json.id }}"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "2dabd497-d196-42b1-9cdb-95f966188945",
      "name": "Filter Old Backups",
      "type": "n8n-nodes-base.filter",
      "position": [
        0,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "url": "https://192.168.50.120:5670/api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Get Workflows via HTTP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        768
      ],
      "id": "129e4120-fe26-4fc3-94cb-03567f639e15"
    },
    {
      "parameters": {
        "jsCode": "const timestamp = DateTime.now().toFormat('yyyy-MM-dd_HH-mm-ss');\nconst response = $input.item.json;\nif (!response.data || !Array.isArray(response.data)) {\n  return { json: { error: 'No workflows found' } };\n}\nconst workflows = response.data.map(workflow => ({\n  json: {\n    id: workflow.id,\n    name: workflow.name,\n    createdAt: workflow.createdAt,\n    updatedAt: workflow.updatedAt,\n    active: workflow.active,\n    timestamp: timestamp\n  }\n}));\nreturn workflows;"
      },
      "name": "Extract Workflow Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        768
      ],
      "id": "cf3332cc-15ad-4305-82f5-4b0c43f591c9"
    },
    {
      "parameters": {
        "url": "=https://192.168.50.120:5670/api/v1/workflows/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Get Workflows via HTTP1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        704
      ],
      "id": "3f40fae4-985c-49a3-8cb1-b1c4556071ad"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const original = $items(\"Loop Over Items1\")[0].json;\nconst fetched = $item.json;\nreturn {\n  json: {\n    timestamp: original.timestamp,\n    workflow: fetched\n  }\n};"
      },
      "name": "Combine Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        704
      ],
      "id": "01f1d633-4553-4e41-a638-23d0fd904714"
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "labels": [],
        "assignees": []
      },
      "name": "GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        208,
        704
      ],
      "id": "cf725d75-bd13-42da-ad8e-8f035b7e32cd",
      "webhookId": "ad00b964-4c0e-4349-953c-a77b2bc6b0f1"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -464,
        768
      ],
      "id": "dfeb2347-7f3c-4a99-b81f-02c02bc69982"
    },
    {
      "parameters": {
        "url": "https://192.168.50.120:5670/api/v1/workflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Get All Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1488,
        -192
      ],
      "id": "1c99f615-d1e7-4c6c-8d83-fd7bafd93c3d",
      "credentials": {
        "n8nApi": {
          "id": "lF0w43EAP5bIt32d",
          "name": "n8n account 4"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nif (!response.data || !Array.isArray(response.data)) {\n  return { json: { error: 'No workflows found' } };\n}\nconst workflows = response.data.map(workflow => ({\n  json: {\n    id: workflow.id,\n    name: workflow.name,\n    createdAt: workflow.createdAt,\n    updatedAt: workflow.updatedAt,\n    active: workflow.active\n  }\n}));\nreturn workflows;"
      },
      "name": "Extract Workflow List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        -192
      ],
      "id": "982ccb1f-da7b-4565-a6ff-5064204d68d2"
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Loop Over Workflows",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1072,
        -192
      ],
      "id": "a7a9a9e1-a84f-4f3e-a130-b38c68a1cc22"
    },
    {
      "parameters": {
        "url": "=https://192.168.50.120:5670/api/v1/workflows/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "Get Full Workflow Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -864,
        -192
      ],
      "id": "a2e76c78-3f3f-4dd0-8fd8-4cb338f55d96"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const workflow = $item.json;\nconst timestamp = DateTime.now().toFormat('yyyy-MM-dd_HH-mm-ss');\n\n// Clean filename - remove special characters\nconst cleanName = workflow.name.replace(/[^a-zA-Z0-9-_]/g, '_');\nconst filename = `${cleanName}_${workflow.id}.json`;\n\n// Format workflow JSON nicely\nconst workflowJson = JSON.stringify(workflow, null, 2);\n\nreturn {\n  json: {\n    filename: filename,\n    content: workflowJson,\n    workflowName: workflow.name,\n    workflowId: workflow.id,\n    timestamp: timestamp,\n    commitMessage: `Backup: ${workflow.name} (${timestamp})`\n  }\n};"
      },
      "name": "Format for GitHub",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        -192
      ],
      "id": "6aa67dc0-38d6-478d-bc97-42279c19c69b"
    },
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "mode": "list",
          "value": "YOUR_GITHUB_USERNAME"
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": "n8n-workflows-backup"
        },
        "labels": [],
        "assignees": []
      },
      "name": "Create/Update File in GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -448,
        -192
      ],
      "id": "cb89fbf9-3c37-4bb0-8580-8ab5d3e58714",
      "webhookId": "19c2e18b-2831-4cb8-9c1e-9969830d8036"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.filename }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "options": {}
      },
      "name": "Filter Valid Workflows",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -1280,
        0
      ],
      "id": "3697c3a6-5a15-4a70-914b-2dfc93664160"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "b069e62e-caf6-4bca-a702-a53bbeb22d44",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1744,
        -192
      ],
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Get Workflows via HTTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create new folder": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "create new folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows via HTTP": {
      "main": [
        [
          {
            "node": "Extract Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Workflow Data": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows via HTTP1": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Get Workflows via HTTP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Workflows": {
      "main": [
        [
          {
            "node": "Extract Workflow List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Workflow List": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Workflows": {
      "main": [
        [
          {
            "node": "Get Full Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Workflow Data": {
      "main": [
        [
          {
            "node": "Format for GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for GitHub": {
      "main": [
        [
          {
            "node": "Create/Update File in GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create/Update File in GitHub": {
      "main": [
        [
          {
            "node": "Loop Over Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get All Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "3d9e2ed1-10c0-46d3-b570-f8fa59347c53",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-12T04:30:50.127Z",
      "updatedAt": "2025-12-12T04:30:50.127Z",
      "role": "workflow:owner",
      "workflowId": "ZmHdWS8ZCdLhgjx8",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-12T04:24:19.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1765342775722
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}