N8N WORKFLOWS/ My_workflow_39.json
{
  "createdAt": "2025-12-11T09:46:53.096Z",
  "updatedAt": "2025-12-11T10:28:45.000Z",
  "id": "lM7s7Ny5zWKGYNRx",
  "name": "My workflow 39",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 5,
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "251bb37c-86fc-4371-80b8-2be6cab608e3",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "toRecipients": "=Ananthkarthick.m@rencata.com",
        "subject": "Pending Document: Confirmation of Resignation Acceptance",
        "bodyContent": "= {{ $json.first_name }} {{ $json.last_name }}\nI hope you are doing well. This is to inform you that we have not yet received your resignation acceptance/relieving letter from your previous employer, which is required to complete your joining and verification process.\n\nKindly share the document at your earliest convenience. If you are facing any delay from your previous HR, please update us so we can note it accordingly.\n\nYour cooperation will help us proceed smoothly with your onboarding formalities.\n\nThank you.\nWarm regards,\n[HR Name]\n[Designation]\n[New Company Name]\n[Contact Information]\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "00a4b6eb-44cc-4262-9e23-ff68dc9bd9d6",
      "name": "Send a message1",
      "webhookId": "26296050-162a-427a-a323-37550fc17a51",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM onboarding.candidates\nWHERE templates::jsonb->>'offer_accepted' = 'true'\n  AND templates::jsonb->>'hr_acceptance_received' = 'false'; ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        0
      ],
      "id": "f5fcdb9e-2a90-42cd-96b8-5621a5b9106a",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE onboarding.candidates\nSET templates = templates::jsonb || jsonb_build_object(\n                    'hr_acceptance_reminder_sent\":', true,\n                    'hr_acceptance_last_reminder', NOW()::text\n                ),\n    updated_at = NOW()\nWHERE id = {{ $('Execute a SQL query').item.json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        0
      ],
      "id": "aa67c32a-6e78-4200-b6ce-4b6a74751f43",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "5aae3939-f374-4e11-8edb-70ec834e374d",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-11T09:46:53.102Z",
      "updatedAt": "2025-12-11T09:46:53.102Z",
      "role": "workflow:owner",
      "workflowId": "lM7s7Ny5zWKGYNRx",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-12T04:24:19.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1765342775722
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}