N8N WORKFLOWS/ NegotiationMain.json
{
  "createdAt": "2025-11-21T12:19:17.467Z",
  "updatedAt": "2025-12-05T05:14:12.000Z",
  "id": "STlpngbpus5sqn5W",
  "name": "NegotiationMain",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "toRecipients": "Ananthkarthick.m@rencata.com",
        "subject": "hr recommendation ",
        "bodyContent": "=<p>Dear President,</p>\n\n<p>The candidate <strong>{{ $('reading_candidate_Response').item.json.from.emailAddress.name }}</strong> has requested a negotiation after receiving the offer letter. Please find HR's review and recommendation below.</p>\n\n<p><strong>Candidate's Request:</strong></p>\n<blockquote style=\"border-left: 3px solid #ccc; padding-left: 10px; color: #555;\">\n  {{ $('reading_candidate_Response').item.json.body.content }}\n</blockquote>\n\n<p><strong>Possible Negotiation:</strong></p>\n<ul>\n  {{ $json.plaintext2 }}\n</ul>\n\n<p>We kindly request your decision on this negotiation.Click the button below to enter Your Response</p>\n\n<a href=\"https://192.168.50.120:5670/form-test/response?Candidate_Name={{ $('reading_candidate_Response').item.json.from.emailAddress.name }}&Candidate_personal_mail={{ $('reading_candidate_Response').item.json.from.emailAddress.address }}&Possible_Negotiation={{ $('formatted_plain_text').item.json.plaintext2 }}&Candidate_Request={{ $('plain_text').item.json.plainText }}\"\n   style=\"display:inline-block;padding:10px 20px;background-color:#007bff;color:white;text-decoration:none;border-radius:5px;\">\n   Enter Your Response\n</a>\n\n\n<p>Regards,<br>HR Team</p>\n\n<p><img src=\"https://media.licdn.com/dms/image/v2/C561BAQFcaBKo0RUV_g/company-background_10000/company-background_10000/0/1584361725954/rencata_cover?e=2147483647&v=beta&t=Om7LLN3Ndu_hg9G5SL9WE6vURmRBSLnv0pHX4XhPPnc\" \n     alt=\"Rencata Logo\" style=\"width: 150px; height: auto;\"></p>\n",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        96,
        224
      ],
      "id": "c1517980-1144-49cd-8136-91b593fe110f",
      "name": "recommendation mail",
      "webhookId": "05cc0b6d-fc81-4c58-8195-5e8b1d5dd3c9",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "Ananthkarthick.m@rencata.com",
        "subject": "=Negotiation Request",
        "bodyContent": "=<p>Dear HR Team,</p>\n\n<p>The candidate <strong>{{ $json.from.emailAddress.name }}</strong> (Email: <a href=\"mailto:{{ $json.from.emailAddress.address }}\">{{ $json.from.emailAddress.address }}</a>) has responded to the offer letter with a negotiation request.</p>\n\n<p><strong>Candidate's Response:</strong></p>\n<blockquote style=\"border-left: 3px solid #ccc; padding-left: 10px; color: #555;\">\n  {{ $json.body.content }}\n</blockquote>\n\n<p>Please review the candidate’s request and provide your recommendation for further consideration.</p>\n\n<p>Regards,<br>\n<p><img src=\"https://media.licdn.com/dms/image/v2/C561BAQFcaBKo0RUV_g/company-background_10000/company-background_10000/0/1584361725954/rencata_cover?e=2147483647&v=beta&t=Om7LLN3Ndu_hg9G5SL9WE6vURmRBSLnv0pHX4XhPPnc\" \n     alt=\"Rencata Logo\" style=\"width: 150px; height: auto;\"></p></p>\n",
        "additionalFields": {
          "importance": "High",
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -512,
        256
      ],
      "id": "576d5013-021a-44b3-b529-f526c04a0f93",
      "name": "hr_notifying_mail",
      "webhookId": "9f1373e0-a69e-4fe5-bc2e-56d63aef5088",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "AAMkAGEyOGEwOTRiLWUzYTQtNGQwNS1hNGY4LTRmNjNjZDRmMmVkMwBGAAAAAACtXYo8JahbSY9iGqCyMFGqBwAPLmzj5KjdTaD7fvHjg3cOAAAAAAEJAAAPLmzj5KjdTaD7fvHjg3cOAAB-O6Z5AAA=",
          "mode": "list",
          "cachedResultName": "Negotiation Request",
          "cachedResultUrl": "https://outlook.office365.com/owa/?ItemID=AAMkAGEyOGEwOTRiLWUzYTQtNGQwNS1hNGY4LTRmNjNjZDRmMmVkMwBGAAAAAACtXYo8JahbSY9iGqCyMFGqBwAPLmzj5KjdTaD7fvHjg3cOAAAAAAEJAAAPLmzj5KjdTaD7fvHjg3cOAAB%2FO6Z5AAA%3D&exvsurl=1&viewmodel=ReadMessageItem"
        },
        "output": "fields",
        "fields": [
          "body"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -704,
        464
      ],
      "id": "0726a56e-82c1-4bac-8504-d242397b6365",
      "name": "fetching_hr_mail",
      "webhookId": "20eb371e-1a18-4383-8b23-2eefcac082cc",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        -224,
        224
      ],
      "id": "6086d393-0ff3-48d9-b3c9-c008440979bc",
      "name": "Merge"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1104,
        208
      ],
      "id": "e84e1519-3247-4b25-807d-9f7c1706427c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.body.content|| '';\n\n// Simple regex to remove HTML tags\nconst cleanedText = html\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')  // remove style blocks\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '') // remove script blocks\n  .replace(/<\\/?[^>]+(>|$)/g, '') // remove HTML tags\n  .replace(/\\s+/g, ' ') // collapse extra whitespace\n  .trim();\n\nreturn [{\n  json: {\n    plaintext2: cleanedText\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        464
      ],
      "id": "d426dbe1-8e46-4ac3-bfc3-6e6b25bd4415",
      "name": "formatted_plain_text"
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.body.content|| '';\n\n// Simple regex to remove HTML tags\nconst cleanedText = html\n  .replace(/<style[^>]*>[\\s\\S]*?<\\/style>/gi, '')  // remove style blocks\n  .replace(/<script[^>]*>[\\s\\S]*?<\\/script>/gi, '') // remove script blocks\n  .replace(/<\\/?[^>]+(>|$)/g, '') // remove HTML tags\n  .replace(/\\s+/g, ' ') // collapse extra whitespace\n  .trim();\n\nreturn [{\n  json: {\n    plainText: cleanedText\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -16
      ],
      "id": "756786ec-a725-454b-b823-94e58b78a104",
      "name": "plain_text"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "AAMkAGEyOGEwOTRiLWUzYTQtNGQwNS1hNGY4LTRmNjNjZDRmMmVkMwBGAAAAAACtXYo8JahbSY9iGqCyMFGqBwAPLmzj5KjdTaD7fvHjg3cOAAAAAAEJAAAPLmzj5KjdTaD7fvHjg3cOAAB93AMYAAA=",
          "mode": "list",
          "cachedResultName": "hr recommendation ",
          "cachedResultUrl": "https://outlook.office365.com/owa/?ItemID=AAMkAGEyOGEwOTRiLWUzYTQtNGQwNS1hNGY4LTRmNjNjZDRmMmVkMwBGAAAAAACtXYo8JahbSY9iGqCyMFGqBwAPLmzj5KjdTaD7fvHjg3cOAAAAAAEJAAAPLmzj5KjdTaD7fvHjg3cOAAB93AMYAAA%3D&exvsurl=1&viewmodel=ReadMessageItem"
        },
        "output": "fields",
        "fields": [
          "body",
          "from",
          "subject"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -752,
        96
      ],
      "id": "b01bda6b-1664-40ac-9777-ea656342d7a3",
      "name": "reading_candidate_Response",
      "webhookId": "53628309-30d5-4045-8b3b-7676c128b9db",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    }
  ],
  "connections": {
    "fetching_hr_mail": {
      "main": [
        [
          {
            "node": "formatted_plain_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "recommendation mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "reading_candidate_Response",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetching_hr_mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatted_plain_text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "plain_text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reading_candidate_Response": {
      "main": [
        [
          {
            "node": "hr_notifying_mail",
            "type": "main",
            "index": 0
          },
          {
            "node": "plain_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2536015e-5c1f-454a-a935-41419796c964",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-21T12:19:17.471Z",
      "updatedAt": "2025-11-21T12:19:17.471Z",
      "role": "workflow:owner",
      "workflowId": "STlpngbpus5sqn5W",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-12T04:24:19.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1765342775722
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}