N8N WORKFLOWS/ old_workflow_esign_backup.json
{
  "createdAt": "2025-11-28T10:51:54.222Z",
  "updatedAt": "2025-12-03T07:09:17.000Z",
  "id": "iSQnemXkGecFCV1e",
  "name": "old workflow esign backup",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "blob",
        "operation": "create",
        "container": {
          "__rl": true,
          "value": "onboarding-ai",
          "mode": "list",
          "cachedResultName": "onboarding-ai"
        },
        "blobCreate": "=e_signed/{{ $('filename').item.json.filename }}.pdf'",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.azureStorage",
      "typeVersion": 1,
      "position": [
        -1104,
        304
      ],
      "id": "c11f75dc-5e8e-409c-ac9f-a96f7f8ad6b0",
      "name": "Create blob",
      "credentials": {
        "azureStorageOAuth2Api": {
          "id": "wkCauR87kgf8c1t9",
          "name": "AnanthKarthickAzureStorageAccount"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "3a3700f9-4a4b-4b31-b3c5-22a5102fae27",
      "typeVersion": 1.1,
      "name": "data",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -496,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2288,
        -96
      ],
      "id": "61b67862-3bca-46cc-8e42-f11195eff78d",
      "name": "details",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout;\n\n// Extract the last valid JSON block using a stricter pattern\nconst jsonMatches = stdout.match(/({\\s*\"signature_present\"[\\s\\S]*?})/);\nlet jsonPart = {};\n\nif (jsonMatches) {\n  try {\n    jsonPart = JSON.parse(jsonMatches[1]);\n  } catch (err) {\n    jsonPart = { parse_error: true };\n  }\n}\n\n// Extract common_name from cert.subject block only\nconst matchSubject = stdout.match(/cert\\.subject:.*?'common_name':\\s*'([^']+)'/);\nconst signerName = matchSubject ? matchSubject[1] : null;\n\n\n// Return final combined result\nreturn [\n  {\n    json: {\n      ...jsonPart,\n      signer_common_name: signerName\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        496
      ],
      "id": "2df4fa91-e18e-4ce6-857f-6a01a9510eb6",
      "name": "sign validation"
    },
    {
      "parameters": {
        "jsCode": "const input = $now; // your input datetime string\nconst date = new Date(input);\n\n// Convert to IST (UTC +5:30)\nconst offsetIST = 5.5 * 60;\nconst istDate = new Date(date.getTime() + offsetIST * 60000);\n\n// Format parts\nconst yyyy = istDate.getFullYear();\nconst mm = String(istDate.getMonth() + 1).padStart(2, '0');\nconst dd = String(istDate.getDate()).padStart(2, '0');\nconst hh = String(istDate.getHours()).padStart(2, '0');\nconst min = String(istDate.getMinutes()).padStart(2, '0');\nconst ss = String(istDate.getSeconds()).padStart(2, '0');\n\n// Get employee name\nconst firstName = $('details').first().json.first_name || '';\nconst lastName = $('details').first().json.last_name || '';\n\n// Sanitize and format\nconst safeFirst = firstName.replace(/[^a-z0-9]/gi, '_').toLowerCase();\nconst safeLast = lastName.replace(/[^a-z0-9]/gi, '_').toLowerCase();\nconst timestamp = `${yyyy}_${mm}_${dd}_${hh}_${min}_${ss}`;\n\n// Final filename\nconst finalFileName = `${safeFirst}_${safeLast}_${timestamp}`;\n\nreturn [\n  {\n    json: {\n      filename: finalFileName\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1632,
        464
      ],
      "id": "1e0a6eb7-f38a-4c1d-8bd7-b7c65d6ffd8d",
      "name": "filename"
    },
    {
      "parameters": {
        "toRecipients": "ananya.js@rencata.com",
        "subject": "E-sign validation error",
        "bodyContent": "={{ $json['email content'] }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1328,
        736
      ],
      "id": "0dad76e0-8022-45c9-90ea-7e5b8df423ce",
      "name": "send mail to HR",
      "webhookId": "065c23e0-5ce0-4f98-936f-a7293a3d452e",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yH6eMS0WRC0QG6xY",
          "mode": "list",
          "cachedResultName": "email log"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -928,
        576
      ],
      "id": "13409cc9-4b16-41dc-a34f-60dc47d77b42",
      "name": "log email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3495bf08-72f2-4690-a751-306189c639fc",
              "name": "id",
              "value": "={{ $('details').item.json.id }}",
              "type": "string"
            },
            {
              "id": "c8dcb4a0-30ac-41c9-9c86-bfe436323fd9",
              "name": "process",
              "value": "E-sign validation",
              "type": "string"
            },
            {
              "id": "3fe046af-2c18-4960-9d70-5e59edaa3163",
              "name": "email content",
              "value": "=<!DOCTYPE html>\n<html>\n  <body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n    <p>Dear HR Team,</p>\n\n    <p>The e-signed offer letter of <strong>{{ $('details').item.json.first_name }} {{ $('details').item.json.last_name }}</strong> failed validation. Please find the issues below:</p>\n\n    {{ $json.signer_common_name === null ? '<p><strong>Issue:</strong> No e-signature found — signer name is missing.</p>' : '' }}\n    {{ $json.signer_common_name !== 'Ravikumar R' ? '<p><strong>Issue:</strong> Invalid signer — not our authorized director (expected: Ravikumar R).</p>' : '' }}\n    {{ $json.signature_present === false ? '<p><strong>Issue:</strong> No e-signature object present in the document.</p>' : '' }}\n    {{ $json.hash_matches === false ? '<p><strong>Issue:</strong> Document tampering detected — file hash does not match.</p>' : '' }}\n\n    <p>Kindly request re-sign the document.</p>\n\n    <p>Thank you,<br>\n    Team Agentic AI</p>\n  </body>\n</html>\n",
              "type": "string"
            },
            {
              "id": "0d8b881d-a2b7-4dc9-9904-ec438aaf07ac",
              "name": "sent to",
              "value": "ananya.js@rencata.com",
              "type": "string"
            },
            {
              "id": "08795e23-b5eb-4b71-a635-185ae852652e",
              "name": "created_by",
              "value": "n8n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1552,
        592
      ],
      "id": "c3f8106f-b8c5-4b25-9c06-94c5ed5ada65",
      "name": "contents"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1152,
        576
      ],
      "id": "1b7d78b3-9e2d-4bde-9d9d-c223b4162c2d",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE onboarding.candidates\nSET templates = jsonb_set(templates::jsonb, '{offer_letter_generated}', 'true'::jsonb, false)::json,\n    updated_at = NOW()\nWHERE id = {{ $('data').first().json.id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -880,
        304
      ],
      "id": "b4aa92ee-104d-4f57-88b5-e6a6fafc13f7",
      "name": "update offer_letter_esigned_validated",
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('data').first().json.id }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "templates"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        304
      ],
      "id": "2a116fa0-1ba5-43e8-af6b-4007bf25914a",
      "name": "offer_letter_esigned_validated done",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE onboarding.candidates\nSET templates = jsonb_set(templates::jsonb, '{process_paused}', 'true'::jsonb, false)::json,\n    updated_at = NOW()\nWHERE id = {{ $('data').first().json.id }};\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -704,
        576
      ],
      "id": "8a6d0d32-2517-440f-bf44-48de7f0f8142",
      "name": "update process_paused",
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('data').first().json.id }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "templates"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -480,
        576
      ],
      "id": "f9c85159-095c-4b0d-bc7d-f895b0d12312",
      "name": "process_paused",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filtersUI": {
          "values": {
            "filters": {
              "hasAttachments": true,
              "foldersToInclude": [
                "AQMkAGEyOGEwOTRiLWUzYTQtNGQwNS1hNGY4LTRmNjNjZDRmMmVkMwAuAAADrV2KPCWoW0mPYhqgsjBRqgEADy5s4_So3U2g_37x44N3DgAAAgEMAAAA",
                "AAMkAGEyOGEwOTRiLWUzYTQtNGQwNS1hNGY4LTRmNjNjZDRmMmVkMwAuAAAAAACtXYo8JahbSY9iGqCyMFGqAQAPLmzj5KjdTaD7fvHjg3cOAAAiCJdWAAA="
              ],
              "receivedAfter": "={{ $json.created_at }}",
              "sender": "riyassn56@gmail.com"
            }
          }
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -2080,
        -96
      ],
      "id": "d95352fd-5ed0-4055-8251-58dcd0794658",
      "name": "All mail with attachment",
      "webhookId": "d0c6f6d0-470e-456c-ad61-0ffd11f47aa8",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1840,
        -96
      ],
      "id": "b42cd3ed-88dd-4f2e-ab2e-412d21a8635c",
      "name": "Loop"
    },
    {
      "parameters": {
        "jsCode": "// Get input item\nconst item = $input.first();\n\n// Safely extract binary data\nconst binary = item.binary || {};\nconst binaryData = binary[\"attachment_0\"] || {}; // <-- fallback\n\nconst fileName = binaryData.fileName || '';\nconst fileExtension = fileName ? fileName.split('.').pop() : '';\nconst id = item.json.id || null;\n\nreturn [\n  {\n    json: {\n      fileName,\n      fileExtension,\n      mimeType: binaryData.mimeType || '',\n      fileSize: binaryData.fileSize || 0,\n      id\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        -16
      ],
      "id": "d01cd769-b86f-4c4e-88c4-4cd347a6235f",
      "name": "file type"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "96a79fe3-523a-42e9-bed8-b1b980927c90",
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1392,
        -16
      ],
      "id": "a732cafe-4f25-4cbc-9aec-4aeda5a3cd4e",
      "name": "pdf check"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1168,
        -16
      ],
      "id": "6653afc7-c705-459c-9ff9-6b9e7b6c9f7d",
      "name": "get pdf",
      "webhookId": "ae91bf11-2ecd-4e5d-b209-a42b768fd11c",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -944,
        -16
      ],
      "id": "350d2028-9602-49a9-9724-aa96444843b3",
      "name": "Extract from pdf"
    },
    {
      "parameters": {
        "jsCode": "const pdfText = $input.first().json.text.toLowerCase();  // Extracted text from PDF\nconst details = $('details').first().json; // Data from previous node\n\nconst firstName = (details.first_name || '').toLowerCase();\nconst lastName = (details.last_name || '').toLowerCase();\nconst jobId = (details.job_id || '').toLowerCase();\nconst location = (details.offeredlocation || '').toLowerCase();\nconst position = (details.position || '').toLowerCase();\n\n// Perform checks\nconst isFirstNamePresent = pdfText.includes(firstName);\nconst isLastNamePresent = pdfText.includes(lastName);\nconst isJobIdPresent = pdfText.includes(jobId);\nconst isLocationPresent = pdfText.includes(location);\nconst isPositionPresent = pdfText.includes(position);\n\n// All checks passed\nconst allPresent = isFirstNamePresent && isLastNamePresent && isJobIdPresent && isLocationPresent && isPositionPresent;\n\nreturn [\n  {\n    json: {\n      isFirstNamePresent,\n      isLastNamePresent,\n      isJobIdPresent,\n      isLocationPresent,\n      isPositionPresent,\n      allPresent\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -720,
        -16
      ],
      "id": "d3c78664-e7a3-4702-a433-86157e317647",
      "name": "check document"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e667c2d6-b1ff-4844-9352-dffaa23465d6",
              "leftValue": "={{ $json.allPresent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -512,
        -16
      ],
      "id": "6874c2ed-88ce-480b-8300-019f38f2f70a",
      "name": "is offerletter"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "={{ $('get pdf').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -2640,
        496
      ],
      "id": "3dde8d5f-7e4b-4650-9302-caa19a3598a2",
      "name": "Get offerletter",
      "webhookId": "ae91bf11-2ecd-4e5d-b209-a42b768fd11c",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/offertemp/esigned/{{ $('details').first().json.filename }}.pdf",
        "dataPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -2432,
        496
      ],
      "id": "67c7659c-47e8-46df-9e58-b0d7a1cfbc7d",
      "name": "save to server"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e13f30e-548d-4a3a-98b6-828b0519e681",
              "leftValue": "={{ $json.signer_common_name }}",
              "rightValue": "Harris",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c76a2ef1-1294-413d-bd7e-93cac7473129",
              "leftValue": "={{ $json.signature_present }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1760,
        496
      ],
      "id": "0b451eb8-3e24-47a7-99a2-ec2971711448",
      "name": "e-sign match"
    },
    {
      "parameters": {
        "command": "=/home/node/offertemp/scripts/PythonScripts/venv/bin/python3 \\\n/home/node/offertemp/scripts/PythonScripts/verify_signature.py \\\n{{ $json.fileName }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2208,
        496
      ],
      "id": "363515e9-5823-4b00-827d-0955e9b03665",
      "name": "endsive signature check"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/offertemp/esigned/{{ $('details').first().json.filename }}.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -1328,
        304
      ],
      "id": "670d9f4e-fd9c-41e6-95b1-a3a5634daba5",
      "name": "read offerLetter"
    },
    {
      "parameters": {
        "content": "## Check if the attachment is PDF",
        "height": 240,
        "width": 440,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1648,
        -64
      ],
      "typeVersion": 1,
      "id": "e4826518-04b9-41d0-bd9b-6fd79c42a990",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Check if the pdf is our that candidates offerletter",
        "height": 260,
        "width": 660,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -992,
        -64
      ],
      "typeVersion": 1,
      "id": "53a3dc60-2a16-4c58-b730-90504ce90147",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Check if e-sign matches",
        "height": 260,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2448,
        416
      ],
      "typeVersion": 1,
      "id": "db5a99a5-a818-4d79-97c9-e1f10b8f2dcd",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "output": "fields",
        "fields": [
          "hasAttachments"
        ],
        "filters": {
          "hasAttachments": true,
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        -2560,
        -160
      ],
      "id": "cd093491-78f6-4599-b268-76fe7a1af777",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    }
  ],
  "connections": {
    "Create blob": {
      "main": [
        [
          {
            "node": "update offer_letter_esigned_validated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "details": {
      "main": [
        [
          {
            "node": "All mail with attachment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sign validation": {
      "main": [
        [
          {
            "node": "e-sign match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filename": {
      "main": [
        [
          {
            "node": "read offerLetter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send mail to HR": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "log email": {
      "main": [
        [
          {
            "node": "update process_paused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contents": {
      "main": [
        [
          {
            "node": "send mail to HR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "log email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update offer_letter_esigned_validated": {
      "main": [
        [
          {
            "node": "offer_letter_esigned_validated done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update process_paused": {
      "main": [
        [
          {
            "node": "process_paused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All mail with attachment": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "file type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "file type": {
      "main": [
        [
          {
            "node": "pdf check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf check": {
      "main": [
        [
          {
            "node": "get pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get pdf": {
      "main": [
        [
          {
            "node": "Extract from pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from pdf": {
      "main": [
        [
          {
            "node": "check document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check document": {
      "main": [
        [
          {
            "node": "is offerletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is offerletter": {
      "main": [
        [
          {
            "node": "Get offerletter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get offerletter": {
      "main": [
        [
          {
            "node": "save to server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save to server": {
      "main": [
        [
          {
            "node": "endsive signature check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "e-sign match": {
      "main": [
        [
          {
            "node": "filename",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "endsive signature check": {
      "main": [
        [
          {
            "node": "sign validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read offerLetter": {
      "main": [
        [
          {
            "node": "Create blob",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "data": [
      {
        "json": {
          "id": 1031,
          "next_task": "salary_structure_generated",
          "process_paused": false
        }
      }
    ]
  },
  "versionId": "507bf464-cc54-4b31-a716-70af22843f40",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-11-28T10:51:54.229Z",
      "updatedAt": "2025-11-28T10:51:54.229Z",
      "role": "workflow:owner",
      "workflowId": "iSQnemXkGecFCV1e",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-12T04:24:19.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1765342775722
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}