N8N WORKFLOWS/ PF.json
{
  "createdAt": "2025-12-11T12:06:50.643Z",
  "updatedAt": "2025-12-11T12:32:43.000Z",
  "id": "g3iKhP9JRG1vsBoL",
  "name": "PF",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "toRecipients": "Ananthkarthick.m@rencata.com",
        "subject": "Personal detail collection mail ",
        "bodyContent": "=<p>Hi {{ $json.first_name }}{{ $json.last_name }},</p>\n\n<p>Please fill in the details below and send us back for PF registration.<br>\n\n       <a href=\"https://192.168.50.120:5670/webhook-test/PF-registration?id={{ $json.id }}&firstName={{ $json.first_name }}&lastName={{ $json.last_name }}\" style=\"display: inline-block; background-color: #4A90E2; color: white; padding: 12px 24px; text-decoration: none; border-radius: 4px; font-weight: bold;\">Complete PF Registration</a>\n\n</p>\n\n<p>Feel free to reach out if you have any questions.<br>\nLooking forward to your response.</p>\n\n<p>Best regards,<br>\nRencata</p>\n",
        "additionalFields": {
          "importance": "High",
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        64,
        -96
      ],
      "id": "6043d717-969d-4781-8c9d-a54a601a45c3",
      "name": "Microsoft Outlook",
      "webhookId": "77e8382c-ad30-49dd-9d2c-9795876d2c8e",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -528,
        -96
      ],
      "id": "02f520d6-dfd6-4899-9029-f76308d4d84d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "where": {
          "values": [
            {
              "column": "id",
              "value": "1167"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        -96
      ],
      "id": "fc8828cf-c68a-465d-bbcd-05aaa4000823",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "0CwtQcnj9v3qZLce",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Microsoft Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "08143648-eedd-42c1-8875-75554a673887",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-11T12:06:50.647Z",
      "updatedAt": "2025-12-11T12:06:50.647Z",
      "role": "workflow:owner",
      "workflowId": "g3iKhP9JRG1vsBoL",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-12T04:24:19.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1765342775722
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}