N8N WORKFLOWS/ salary_structure_generated.json
{
  "createdAt": "2025-12-03T10:18:39.996Z",
  "updatedAt": "2025-12-12T06:16:57.000Z",
  "id": "R8BAlwwJwmrgmgk2",
  "name": "salary_structure_generated",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3738c5f6-8e5f-41e2-a445-a815de78a055",
              "name": "ctc",
              "value": "={{ $json.ctc }}",
              "type": "string"
            },
            {
              "id": "e82c3064-64ce-414b-a8de-82a241ef7b18",
              "name": "pf_type",
              "value": "={{ $json.pf_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        -320
      ],
      "id": "9de4fe8d-218a-4898-ab54-5e7d9460259e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const data = item.json;\n\n  const ctcRaw = data.ctc;\n  const ctc = typeof ctcRaw === 'string' ? parseFloat(ctcRaw) : ctcRaw;\n  const pfType = data.pf_type;\n  const pf_type = typeof pfType === 'string' ? parseInt(pfType) : pfType;\n  \n  if (!ctc || isNaN(ctc)) {\n    return {\n      json: {\n        error: \"CTC is missing or invalid\",\n        received_ctc: ctcRaw\n      }\n    };\n  }\n\n  // BASIC and HRA (annual)\n  const basic = ctc * 0.4;\n  const hra = basic * 0.5;\n\n  // PF Calculation\n  let pf_employee = 0;\n  let pf_employer = 0;\n\n  if (pf_type == 1) {\n    pf_employee = basic * 0.12;     // 12% employee contribution\n    pf_employer = basic * 0.12;\n  } else if (pf_type == 2) {\n    pf_employee = 1800 * 12;\n    pf_employer = 1800 * 12;\n  }\n\n  // --- Correct ESI Eligibility (Monthly Rule) ---\n  // Monthly Gross (without employer PF)\n  const monthly_basic = basic / 12;\n  const monthly_hra = hra / 12;\n  const monthly_pf_employee = pf_employee / 12;\n\n  const monthly_gross = monthly_basic + monthly_hra + monthly_pf_employee;\n\n  let esi = 0;\n\n  if (monthly_gross <= 21000) {\n    esi = basic * 0.0075;   // 0.75% of BASIC (annual ESI)\n  }\n\n  // GROSS calculation (annual)\n  const gross = basic + hra + pf_employee + esi;\n\n  // Variable Pay = CTC - (Gross + Employer PF)\n  const variable = ctc - (gross + pf_employer);\n\n  return {\n    json: {\n      employee_id: data.employee_id,\n      employee_name: data.employee_name,\n      basic: Math.round(basic),\n      hra: Math.round(hra),\n      pf_employee: Math.round(pf_employee),\n      pf_employer: Math.round(pf_employer),\n      esi: Math.round(esi),\n      gross: Math.round(gross),\n      variable: Math.round(variable),\n      monthly_gross: Math.round(monthly_gross),\n      esi_eligible: monthly_gross <= 21000,\n      ctc,\n      salary_structure_generated: true\n    }\n  };\n});\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -320
      ],
      "id": "c7b381f5-48db-46cd-b5ea-5cb7fb3d7030",
      "name": "salary calc"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        64,
        -320
      ],
      "id": "77d83088-e9a8-46a9-b9b5-8c9e759d0ed9",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "salary calc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "position": "Senior Software Engineer",
          "currentLocation": "Pune",
          "offeredLocation": "Chennai",
          "ctc": 1000000,
          "experience": 5,
          "pf_type": 2
        }
      }
    ]
  },
  "versionId": "ac555e85-28df-4d32-b28e-cc58d63c1c2a",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-03T10:18:39.999Z",
      "updatedAt": "2025-12-03T10:18:39.999Z",
      "role": "workflow:owner",
      "workflowId": "R8BAlwwJwmrgmgk2",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-12T04:24:19.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1765342775722
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-12",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}