N8N WORKFLOW COPY-test/ OFFER_VALIDATION_ESIGN_DUPLICATE.json
{
  "createdAt": "2025-12-01T09:53:07.262Z",
  "updatedAt": "2025-12-03T07:09:35.000Z",
  "id": "3rbEZ2xctiyyrsCg",
  "name": "OFFER VALIDATION ESIGN DUPLICATE",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -560,
        -528
      ],
      "id": "2a766c07-3ac1-46a2-8d90-ea5509e7182d",
      "name": "Extract from File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.text|| \"\";\n\n// Extract only CA1152 (anything after last slash)\nconst match = text.match(/\\/([A-Za-z0-9]+)/);\n\nreturn [\n  {\n    data: match ? match[1] : null\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -336,
        -528
      ],
      "id": "e7c08246-50b8-41d6-995b-49b8d57f5899",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "candidate_id",
              "value": "={{ $json.data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        -688
      ],
      "id": "eb48c0c3-209d-4d03-8f01-902aa71e0aca",
      "name": "details",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        -528
      ],
      "id": "bba3c82a-f839-4f41-86dd-39e6f6771180",
      "name": "Loop"
    },
    {
      "parameters": {
        "jsCode": "// Get input item\nconst item = $input.first();\n\n// Safely extract binary data\nconst binary = item.binary || {};\nconst binaryData = binary[\"attachment_0\"] || {}; // <-- fallback\n\nconst fileName = binaryData.fileName || '';\nconst fileExtension = fileName ? fileName.split('.').pop() : '';\nconst id = item.json.id || null;\n\nreturn [\n  {\n    json: {\n      fileName,\n      fileExtension,\n      mimeType: binaryData.mimeType || '',\n      fileSize: binaryData.fileSize || 0,\n      id\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -672
      ],
      "id": "5be8ee76-b5a3-4673-870d-ef51570b62a5",
      "name": "file type"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "96a79fe3-523a-42e9-bed8-b1b980927c90",
              "leftValue": "={{ $json.fileExtension }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        784,
        -672
      ],
      "id": "39c6c8fa-8ed4-4b4e-acb4-53002ac8757e",
      "name": "pdf check"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1008,
        -672
      ],
      "id": "98e00669-3c82-4960-86e0-12463faedb9f",
      "name": "get pdf",
      "webhookId": "ae91bf11-2ecd-4e5d-b209-a42b768fd11c",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1232,
        -672
      ],
      "id": "f336708f-1713-4583-a184-f18438c4cfbd",
      "name": "Extract from pdf"
    },
    {
      "parameters": {
        "jsCode": "const pdfText = $input.first().json.text.toLowerCase();  // Extracted text from PDF\nconst details = $('details').first().json; // Data from previous node\n\nconst firstName = (details.first_name || '').toLowerCase();\nconst lastName = (details.last_name || '').toLowerCase();\nconst jobId = (details.job_id || '').toLowerCase();\nconst location = (details.offeredlocation || '').toLowerCase();\nconst position = (details.position || '').toLowerCase();\n\n// Perform checks\nconst isFirstNamePresent = pdfText.includes(firstName);\nconst isLastNamePresent = pdfText.includes(lastName);\nconst isJobIdPresent = pdfText.includes(jobId);\nconst isLocationPresent = pdfText.includes(location);\nconst isPositionPresent = pdfText.includes(position);\n\n// All checks passed\nconst allPresent = isFirstNamePresent && isLastNamePresent && isJobIdPresent && isLocationPresent && isPositionPresent;\n\nreturn [\n  {\n    json: {\n      isFirstNamePresent,\n      isLastNamePresent,\n      isJobIdPresent,\n      isLocationPresent,\n      isPositionPresent,\n      allPresent\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -672
      ],
      "id": "fddbc8d9-b982-47c1-abf1-3af966ba203d",
      "name": "check document"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e667c2d6-b1ff-4844-9352-dffaa23465d6",
              "leftValue": "={{ $json.allPresent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1792,
        -528
      ],
      "id": "6104c5ea-c825-4c23-8f80-a7be5b27766f",
      "name": "is offerletter"
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": {
          "__rl": true,
          "value": "={{ $('get pdf').item.json.id }}",
          "mode": "id"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -880,
        -48
      ],
      "id": "8576ee51-8dfa-4599-ac9d-456d962ea9c5",
      "name": "Get offerletter",
      "webhookId": "ae91bf11-2ecd-4e5d-b209-a42b768fd11c",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/offertemp/esigned/{{ $('pdf check').item.json.fileName }}.pdf",
        "dataPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -688,
        -112
      ],
      "id": "3db2c00b-32bb-4bd1-9636-61e47ba7d881",
      "name": "save to server"
    },
    {
      "parameters": {
        "command": "=/home/node/offertemp/scripts/PythonScripts/venv/bin/python3 \\\n/home/node/offertemp/scripts/PythonScripts/verify_signature.py \\\n\"/home/node/offertemp/esigned/offerletter_arul_roop_2025_11_28_encrypted_ (1).pdf.pdf\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -464,
        -112
      ],
      "id": "e2ac3235-91d4-4738-a5ad-ef82b6e1472e",
      "name": "endsive signature check",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout;\n\n// Extract the last valid JSON block using a stricter pattern\nconst jsonMatches = stdout.match(/({\\s*\"signature_present\"[\\s\\S]*?})/);\nlet jsonPart = {};\n\nif (jsonMatches) {\n  try {\n    jsonPart = JSON.parse(jsonMatches[1]);\n  } catch (err) {\n    jsonPart = { parse_error: true };\n  }\n}\n\n// Extract common_name from cert.subject block only\nconst matchSubject = stdout.match(/cert\\.subject:.*?'common_name':\\s*'([^']+)'/);\nconst signerName = matchSubject ? matchSubject[1] : null;\n\n\n// Return final combined result\nreturn [\n  {\n    json: {\n      ...jsonPart,\n      signer_common_name: signerName\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -112
      ],
      "id": "fd9130c2-adf9-4557-92d5-681e5ef9ab59",
      "name": "sign validation1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "blob",
        "operation": "create",
        "container": {
          "__rl": true,
          "value": "onboarding-ai",
          "mode": "list",
          "cachedResultName": "onboarding-ai"
        },
        "blobCreate": "=e_signed/{{ $('filename').item.json.filename }}.pdf'",
        "options": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.azureStorage",
      "typeVersion": 1,
      "position": [
        656,
        -256
      ],
      "id": "d993e217-b6c3-4796-9272-1b69c52faebc",
      "name": "Create blob",
      "credentials": {
        "azureStorageOAuth2Api": {
          "id": "wkCauR87kgf8c1t9",
          "name": "AnanthKarthickAzureStorageAccount"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $now; // your input datetime string\nconst date = new Date(input);\n\n// Convert to IST (UTC +5:30)\nconst offsetIST = 5.5 * 60;\nconst istDate = new Date(date.getTime() + offsetIST * 60000);\n\n// Format parts\nconst yyyy = istDate.getFullYear();\nconst mm = String(istDate.getMonth() + 1).padStart(2, '0');\nconst dd = String(istDate.getDate()).padStart(2, '0');\nconst hh = String(istDate.getHours()).padStart(2, '0');\nconst min = String(istDate.getMinutes()).padStart(2, '0');\nconst ss = String(istDate.getSeconds()).padStart(2, '0');\n\n// Get employee name\nconst firstName = $('details').first().json.first_name || '';\nconst lastName = $('details').first().json.last_name || '';\n\n// Sanitize and format\nconst safeFirst = firstName.replace(/[^a-z0-9]/gi, '_').toLowerCase();\nconst safeLast = lastName.replace(/[^a-z0-9]/gi, '_').toLowerCase();\nconst timestamp = `${yyyy}_${mm}_${dd}_${hh}_${min}_${ss}`;\n\n// Final filename\nconst finalFileName = `${safeFirst}_${safeLast}_${timestamp}`;\n\nreturn [\n  {\n    json: {\n      filename: finalFileName\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -256
      ],
      "id": "31949489-1969-4989-b405-d1364d8b9e3b",
      "name": "filename"
    },
    {
      "parameters": {
        "toRecipients": "Ananthkarthick.m@rencata.com",
        "subject": "E-sign validation error",
        "bodyContent": "={{ $json['email content'] }}",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        448,
        -112
      ],
      "id": "0127c46c-b63d-40d7-96bf-44b64214bd3a",
      "name": "send mail to HR",
      "webhookId": "065c23e0-5ce0-4f98-936f-a7293a3d452e",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yH6eMS0WRC0QG6xY",
          "mode": "list",
          "cachedResultName": "email log"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        848,
        368
      ],
      "id": "1ca855d8-5659-4854-94ae-ea98d7e18116",
      "name": "log email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3495bf08-72f2-4690-a751-306189c639fc",
              "name": "id",
              "value": "={{ $('details').item.json.id }}",
              "type": "string"
            },
            {
              "id": "c8dcb4a0-30ac-41c9-9c86-bfe436323fd9",
              "name": "process",
              "value": "E-sign validation",
              "type": "string"
            },
            {
              "id": "3fe046af-2c18-4960-9d70-5e59edaa3163",
              "name": "email content",
              "value": "=<!DOCTYPE html>\n<html>\n  <body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">\n    <p>Dear HR Team,</p>\n\n    <p>The e-signed offer letter of <strong>{{ $('details').item.json.first_name }} {{ $('details').item.json.last_name }}</strong> failed validation. Please find the issues below:</p>\n\n    {{ $json.signer_common_name === null ? '<p><strong>Issue:</strong> No e-signature found — signer name is missing.</p>' : '' }}\n    {{ $json.signer_common_name !== 'Ravikumar R' ? '<p><strong>Issue:</strong> Invalid signer — not our authorized director (expected: Ravikumar R).</p>' : '' }}\n    {{ $json.signature_present === false ? '<p><strong>Issue:</strong> No e-signature object present in the document.</p>' : '' }}\n    {{ $json.hash_matches === false ? '<p><strong>Issue:</strong> Document tampering detected — file hash does not match.</p>' : '' }}\n\n    <p>Kindly request re-sign the document.</p>\n\n    <p>Thank you,<br>\n    Team Agentic AI</p>\n  </body>\n</html>\n",
              "type": "string"
            },
            {
              "id": "0d8b881d-a2b7-4dc9-9904-ec438aaf07ac",
              "name": "sent to",
              "value": "ananya.js@rencata.com",
              "type": "string"
            },
            {
              "id": "08795e23-b5eb-4b71-a635-185ae852652e",
              "name": "created_by",
              "value": "n8n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        -16
      ],
      "id": "341f722f-3c4d-45d3-8895-3dda24fe7b82",
      "name": "contents"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        -16
      ],
      "id": "58713a96-d51f-486f-8abe-9fcdc7142bdb",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE onboarding.candidates\nSET templates = jsonb_set(templates::jsonb, '{offer_letter_generated}', 'true'::jsonb, false)::json,\n    updated_at = NOW()\nWHERE id = {{ $('details').item.json.id }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        -256
      ],
      "id": "1471bc39-ad28-4831-ab1f-3029ecc5942a",
      "name": "update offer_letter_esigned_validated",
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('details').item.json.id }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "templates"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        -256
      ],
      "id": "3c5c89f7-a1d6-4c69-ac8f-0faae383b0a3",
      "name": "offer_letter_esigned_validated done",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE onboarding.candidates\nSET templates = jsonb_set(templates::jsonb, '{process_paused}', 'true'::jsonb, false)::json,\n    updated_at = NOW()\nWHERE id =  {{ $('details').item.json.id }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1104,
        -16
      ],
      "id": "afd994f2-03a3-4e2a-a073-937b305671a9",
      "name": "update process_paused",
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "onboarding",
          "mode": "list",
          "cachedResultName": "onboarding"
        },
        "table": {
          "__rl": true,
          "value": "candidates",
          "mode": "list",
          "cachedResultName": "candidates"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "= {{ $('details').item.json.id }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "templates"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1328,
        -16
      ],
      "id": "3c4101d0-528d-49c1-a4b1-6eb9ad5b6573",
      "name": "process_paused",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e13f30e-548d-4a3a-98b6-828b0519e681",
              "leftValue": "={{ $json.signer_common_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c76a2ef1-1294-413d-bd7e-93cac7473129",
              "leftValue": "={{ $json.signature_present }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        -112
      ],
      "id": "083ba6ba-1912-402f-88bf-748b57c3367d",
      "name": "e-sign match"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/offertemp/esigned/{{ $('file type').item.json.fileName }}.pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        432,
        -256
      ],
      "id": "fe0f9b38-f41c-4913-b465-307d29326ce2",
      "name": "read offerLetter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "Bugs:Hash match return true eventhough it should return false",
        "height": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        -240
      ],
      "id": "9f1e0449-3068-46ce-82cc-4e611246a23d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filtersUI": {
          "values": {
            "filters": {
              "receivedAfter": "={{ $json.updated_at }}"
            }
          }
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        192,
        -656
      ],
      "id": "8b0fbce1-a3fb-4cf9-b6d2-8898c17c0cca",
      "name": "Get many messages",
      "webhookId": "b6bf4b96-a408-4cf1-aaf5-ef0a9aedf890",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        -704
      ],
      "id": "0c3455c9-a5b8-48a6-9ec6-62e2d02652e0",
      "name": "Schedule Trigger",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 5,
        "filtersUI": {
          "values": {
            "filters": {
              "hasAttachments": true,
              "readStatus": "unread"
            }
          }
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -768,
        -624
      ],
      "id": "13356e99-bd36-4eff-a41d-49fe9ed4dba8",
      "name": "Get many messages1",
      "webhookId": "b6bf4b96-a408-4cf1-aaf5-ef0a9aedf890",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    }
  ],
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "details": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [],
        [
          {
            "node": "file type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "file type": {
      "main": [
        [
          {
            "node": "pdf check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf check": {
      "main": [
        [
          {
            "node": "get pdf",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get pdf": {
      "main": [
        [
          {
            "node": "Extract from pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from pdf": {
      "main": [
        [
          {
            "node": "check document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check document": {
      "main": [
        [
          {
            "node": "is offerletter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is offerletter": {
      "main": [
        [
          {
            "node": "Get offerletter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get offerletter": {
      "main": [
        [
          {
            "node": "save to server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save to server": {
      "main": [
        [
          {
            "node": "endsive signature check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "endsive signature check": {
      "main": [
        [
          {
            "node": "sign validation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sign validation1": {
      "main": [
        [
          {
            "node": "e-sign match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create blob": {
      "main": [
        [
          {
            "node": "update offer_letter_esigned_validated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "filename": {
      "main": [
        [
          {
            "node": "read offerLetter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send mail to HR": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "contents": {
      "main": [
        [
          {
            "node": "send mail to HR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "process_paused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update offer_letter_esigned_validated": {
      "main": [
        [
          {
            "node": "offer_letter_esigned_validated done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update process_paused": {
      "main": [
        [
          {
            "node": "process_paused",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "e-sign match": {
      "main": [
        [
          {
            "node": "filename",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read offerLetter": {
      "main": [
        [
          {
            "node": "send mail to HR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Microsoft Outlook Trigger": {
      "lastTimeChecked": "2025-12-01T16:44:31.003+05:30"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "85c8d73f-068f-4b0c-87e0-0456c0f62d8d",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-12-01T09:53:07.265Z",
      "updatedAt": "2025-12-01T09:53:07.265Z",
      "role": "workflow:owner",
      "workflowId": "3rbEZ2xctiyyrsCg",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-24T03:37:23.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 2,
                  "lastShownAt": 1766038241283
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-24",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}