N8N WORKFLOW22/ OCR.json
{
  "createdAt": "2025-12-10T09:42:05.679Z",
  "updatedAt": "2025-12-15T07:24:16.000Z",
  "id": "tb7mDo6cbQkGGurF",
  "name": "OCR",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -976,
        -496
      ],
      "id": "068c47cb-8700-4ecd-b1d5-0c338795ce9d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT personal_email\nFROM onboarding.candidates\nWHERE \n  templates ->> 'offer_letter_sent_to_candidate' = 'true' AND\n  templates ->> 'offer_accepted' = 'true' AND\n  templates ->> 'offer_declined' = 'false';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -752,
        -496
      ],
      "id": "8de24b88-6804-41fa-a4f2-d9db209fd48f",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "zLFgSxFBtH9jn8kB",
          "name": "AnanthKarthick_n8n_DB_Credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filtersUI": {
          "values": {
            "filters": {
              "hasAttachments": "={{ true }}",
              "readStatus": "unread",
              "receivedAfter": "={{ new Date(new Date($('Schedule Trigger').item.json.timestamp).getTime() - (10 * 60 * 60 * 4000)).toISOString() }}",
              "sender": "Ananthkarthick.m@rencata.com"
            }
          }
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -528,
        -496
      ],
      "id": "0fc456e6-a3b5-4858-8b96-e14a168a77ff",
      "name": "Get many messages",
      "webhookId": "b19ccd76-186d-4bad-a6d3-47ac5bbbc6a7",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "eWQEt8vkKHsJ6uml",
          "name": "AnanthKarthickMicrosoftOutlookAccount"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/tmp/test1",
        "dataPropertyName": "attachment_0",
        "options": {
          "append": true
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -304,
        -496
      ],
      "id": "9c6dc891-0359-4f6e-9a14-5c6a01403cde",
      "name": "Read/Write Files from Disk",
      "executeOnce": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "command": "=tesseract \"{{ $('Read/Write Files from Disk').item.json.fileName }}\" \"/tmp/output_text\" && cat /tmp/output_text.txt\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -80,
        -496
      ],
      "id": "b2bd8567-f795-446e-a300-e50ee958626d",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "content": "tesseract \"/home/node/offertemp/scripts/PythonScripts/images/page_001.png\" \"/tmp/output_text\" && cat /tmp/output_text.txt && rm -f /tmp/output_text.txt",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -528
      ],
      "id": "7c9567c2-dc9a-4b7a-8100-f3fbcf71eab6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "tesseract",
        "height": 192,
        "width": 1312
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        -528
      ],
      "id": "fa4763c2-c738-4800-aa26-6660133df7ec",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8b6ffaee-656b-4781-966f-c7ce97f795cf",
  "triggerCount": 0,
  "shared": [
    {
      "createdAt": "2025-12-10T09:42:05.682Z",
      "updatedAt": "2025-12-10T09:42:05.682Z",
      "role": "workflow:owner",
      "workflowId": "tb7mDo6cbQkGGurF",
      "projectId": "hPfhS797YBdpAEqI",
      "project": {
        "createdAt": "2025-09-26T06:43:01.081Z",
        "updatedAt": "2025-09-26T06:44:32.495Z",
        "id": "hPfhS797YBdpAEqI",
        "name": "ANANTH KARTHICK M <ananthkarthick.m@rencata.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-09-26T06:43:01.083Z",
            "updatedAt": "2025-09-26T06:43:01.083Z",
            "role": "project:personalOwner",
            "userId": "a2369de8-faff-479b-b8da-fd42529be638",
            "projectId": "hPfhS797YBdpAEqI",
            "user": {
              "createdAt": "2025-09-26T06:43:01.080Z",
              "updatedAt": "2025-12-15T04:41:56.000Z",
              "id": "a2369de8-faff-479b-b8da-fd42529be638",
              "email": "ananthkarthick.m@rencata.com",
              "firstName": "ANANTH KARTHICK",
              "lastName": "M",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-09-26T06:44:39.371Z",
                "personalization_survey_n8n_version": "1.109.1"
              },
              "settings": {
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "NZ0Axgeqt41MvkFH",
                "userActivated": true,
                "userActivatedAt": 1763617113437,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1765342775722
                }
              },
              "role": "global:member",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-12-15",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}